<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jb4dc.sso.dao.role.RoleGroupMapper">
    <resultMap id="BaseResultMap" type="com.jb4dc.sso.dbentities.role.RoleGroupEntity">
        <constructor>
            <idArg column="ROLE_GROUP_ID" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="ROLE_GROUP_NAME" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="ROLE_GROUP_ORDER_NUM" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="ROLE_GROUP_CREATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
            <arg column="ROLE_GROUP_DESC" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="ROLE_GROUP_STATUS" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="ROLE_GROUP_PARENT_ID" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="ROLE_GROUP_IS_SYSTEM" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="ROLE_GROUP_DEL_ENABLE" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="ROLE_GROUP_PID_LIST" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="ROLE_GROUP_CHILD_COUNT" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="ROLE_GROUP_CREATOR_ID" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="ROLE_GROUP_ORGAN_ID" javaType="java.lang.String" jdbcType="NVARCHAR" />
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    ROLE_GROUP_ID, ROLE_GROUP_NAME, ROLE_GROUP_ORDER_NUM, ROLE_GROUP_CREATE_TIME, ROLE_GROUP_DESC,
    ROLE_GROUP_STATUS, ROLE_GROUP_PARENT_ID, ROLE_GROUP_IS_SYSTEM, ROLE_GROUP_DEL_ENABLE,
    ROLE_GROUP_PID_LIST, ROLE_GROUP_CHILD_COUNT, ROLE_GROUP_CREATOR_ID, ROLE_GROUP_ORGAN_ID
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from TSSO_ROLE_GROUP
        where ROLE_GROUP_ID = #{roleGroupId,jdbcType=NVARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from TSSO_ROLE_GROUP
    where ROLE_GROUP_ID = #{roleGroupId,jdbcType=NVARCHAR}
  </delete>
    <insert id="insert" parameterType="com.jb4dc.sso.dbentities.role.RoleGroupEntity">
    insert into TSSO_ROLE_GROUP (ROLE_GROUP_ID, ROLE_GROUP_NAME, ROLE_GROUP_ORDER_NUM,
      ROLE_GROUP_CREATE_TIME, ROLE_GROUP_DESC,
      ROLE_GROUP_STATUS, ROLE_GROUP_PARENT_ID, ROLE_GROUP_IS_SYSTEM,
      ROLE_GROUP_DEL_ENABLE, ROLE_GROUP_PID_LIST,
      ROLE_GROUP_CHILD_COUNT, ROLE_GROUP_CREATOR_ID,
      ROLE_GROUP_ORGAN_ID)
    values (#{roleGroupId,jdbcType=NVARCHAR}, #{roleGroupName,jdbcType=NVARCHAR}, #{roleGroupOrderNum,jdbcType=INTEGER},
      #{roleGroupCreateTime,jdbcType=TIMESTAMP}, #{roleGroupDesc,jdbcType=NVARCHAR},
      #{roleGroupStatus,jdbcType=NVARCHAR}, #{roleGroupParentId,jdbcType=NVARCHAR}, #{roleGroupIsSystem,jdbcType=NVARCHAR},
      #{roleGroupDelEnable,jdbcType=NVARCHAR}, #{roleGroupPidList,jdbcType=NVARCHAR},
      #{roleGroupChildCount,jdbcType=INTEGER}, #{roleGroupCreatorId,jdbcType=NVARCHAR},
      #{roleGroupOrganId,jdbcType=NVARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.jb4dc.sso.dbentities.role.RoleGroupEntity">
        insert into TSSO_ROLE_GROUP
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleGroupId != null">
                ROLE_GROUP_ID,
            </if>
            <if test="roleGroupName != null">
                ROLE_GROUP_NAME,
            </if>
            <if test="roleGroupOrderNum != null">
                ROLE_GROUP_ORDER_NUM,
            </if>
            <if test="roleGroupCreateTime != null">
                ROLE_GROUP_CREATE_TIME,
            </if>
            <if test="roleGroupDesc != null">
                ROLE_GROUP_DESC,
            </if>
            <if test="roleGroupStatus != null">
                ROLE_GROUP_STATUS,
            </if>
            <if test="roleGroupParentId != null">
                ROLE_GROUP_PARENT_ID,
            </if>
            <if test="roleGroupIsSystem != null">
                ROLE_GROUP_IS_SYSTEM,
            </if>
            <if test="roleGroupDelEnable != null">
                ROLE_GROUP_DEL_ENABLE,
            </if>
            <if test="roleGroupPidList != null">
                ROLE_GROUP_PID_LIST,
            </if>
            <if test="roleGroupChildCount != null">
                ROLE_GROUP_CHILD_COUNT,
            </if>
            <if test="roleGroupCreatorId != null">
                ROLE_GROUP_CREATOR_ID,
            </if>
            <if test="roleGroupOrganId != null">
                ROLE_GROUP_ORGAN_ID,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roleGroupId != null">
                #{roleGroupId,jdbcType=NVARCHAR},
            </if>
            <if test="roleGroupName != null">
                #{roleGroupName,jdbcType=NVARCHAR},
            </if>
            <if test="roleGroupOrderNum != null">
                #{roleGroupOrderNum,jdbcType=INTEGER},
            </if>
            <if test="roleGroupCreateTime != null">
                #{roleGroupCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="roleGroupDesc != null">
                #{roleGroupDesc,jdbcType=NVARCHAR},
            </if>
            <if test="roleGroupStatus != null">
                #{roleGroupStatus,jdbcType=NVARCHAR},
            </if>
            <if test="roleGroupParentId != null">
                #{roleGroupParentId,jdbcType=NVARCHAR},
            </if>
            <if test="roleGroupIsSystem != null">
                #{roleGroupIsSystem,jdbcType=NVARCHAR},
            </if>
            <if test="roleGroupDelEnable != null">
                #{roleGroupDelEnable,jdbcType=NVARCHAR},
            </if>
            <if test="roleGroupPidList != null">
                #{roleGroupPidList,jdbcType=NVARCHAR},
            </if>
            <if test="roleGroupChildCount != null">
                #{roleGroupChildCount,jdbcType=INTEGER},
            </if>
            <if test="roleGroupCreatorId != null">
                #{roleGroupCreatorId,jdbcType=NVARCHAR},
            </if>
            <if test="roleGroupOrganId != null">
                #{roleGroupOrganId,jdbcType=NVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jb4dc.sso.dbentities.role.RoleGroupEntity">
        update TSSO_ROLE_GROUP
        <set>
            <if test="roleGroupName != null">
                ROLE_GROUP_NAME = #{roleGroupName,jdbcType=NVARCHAR},
            </if>
            <if test="roleGroupOrderNum != null">
                ROLE_GROUP_ORDER_NUM = #{roleGroupOrderNum,jdbcType=INTEGER},
            </if>
            <if test="roleGroupCreateTime != null">
                ROLE_GROUP_CREATE_TIME = #{roleGroupCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="roleGroupDesc != null">
                ROLE_GROUP_DESC = #{roleGroupDesc,jdbcType=NVARCHAR},
            </if>
            <if test="roleGroupStatus != null">
                ROLE_GROUP_STATUS = #{roleGroupStatus,jdbcType=NVARCHAR},
            </if>
            <if test="roleGroupParentId != null">
                ROLE_GROUP_PARENT_ID = #{roleGroupParentId,jdbcType=NVARCHAR},
            </if>
            <if test="roleGroupIsSystem != null">
                ROLE_GROUP_IS_SYSTEM = #{roleGroupIsSystem,jdbcType=NVARCHAR},
            </if>
            <if test="roleGroupDelEnable != null">
                ROLE_GROUP_DEL_ENABLE = #{roleGroupDelEnable,jdbcType=NVARCHAR},
            </if>
            <if test="roleGroupPidList != null">
                ROLE_GROUP_PID_LIST = #{roleGroupPidList,jdbcType=NVARCHAR},
            </if>
            <if test="roleGroupChildCount != null">
                ROLE_GROUP_CHILD_COUNT = #{roleGroupChildCount,jdbcType=INTEGER},
            </if>
            <if test="roleGroupCreatorId != null">
                ROLE_GROUP_CREATOR_ID = #{roleGroupCreatorId,jdbcType=NVARCHAR},
            </if>
            <if test="roleGroupOrganId != null">
                ROLE_GROUP_ORGAN_ID = #{roleGroupOrganId,jdbcType=NVARCHAR},
            </if>
        </set>
        where ROLE_GROUP_ID = #{roleGroupId,jdbcType=NVARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jb4dc.sso.dbentities.role.RoleGroupEntity">
    update TSSO_ROLE_GROUP
    set ROLE_GROUP_NAME = #{roleGroupName,jdbcType=NVARCHAR},
      ROLE_GROUP_ORDER_NUM = #{roleGroupOrderNum,jdbcType=INTEGER},
      ROLE_GROUP_CREATE_TIME = #{roleGroupCreateTime,jdbcType=TIMESTAMP},
      ROLE_GROUP_DESC = #{roleGroupDesc,jdbcType=NVARCHAR},
      ROLE_GROUP_STATUS = #{roleGroupStatus,jdbcType=NVARCHAR},
      ROLE_GROUP_PARENT_ID = #{roleGroupParentId,jdbcType=NVARCHAR},
      ROLE_GROUP_IS_SYSTEM = #{roleGroupIsSystem,jdbcType=NVARCHAR},
      ROLE_GROUP_DEL_ENABLE = #{roleGroupDelEnable,jdbcType=NVARCHAR},
      ROLE_GROUP_PID_LIST = #{roleGroupPidList,jdbcType=NVARCHAR},
      ROLE_GROUP_CHILD_COUNT = #{roleGroupChildCount,jdbcType=INTEGER},
      ROLE_GROUP_CREATOR_ID = #{roleGroupCreatorId,jdbcType=NVARCHAR},
      ROLE_GROUP_ORGAN_ID = #{roleGroupOrganId,jdbcType=NVARCHAR}
    where ROLE_GROUP_ID = #{roleGroupId,jdbcType=NVARCHAR}
  </update>
</mapper>