<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jb4dc.sso.dao.systemsetting.HistoryDataMapper">
    <resultMap id="BaseResultMap" type="com.jb4dc.sso.dbentities.systemsetting.HistoryDataEntity">
        <constructor>
            <idArg column="HISTORY_ID" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="HISTORY_SYSTEM_NAME" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="HISTORY_SYSTEM_ID" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="HISTORY_MODULE_NAME" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="HISTORY_MODULE_ID" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="HISTORY_RECORD" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="HISTORY_ORGAN_ID" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="HISTORY_ORGAN_NAME" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="HISTORY_USER_ID" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="HISTORY_USER_NAME" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="HISTORY_CREATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
            <arg column="HISTORY_TABLE_NAME" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="HISTORY_RECORD_ID" javaType="java.lang.String" jdbcType="NVARCHAR" />
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    HISTORY_ID, HISTORY_SYSTEM_NAME, HISTORY_SYSTEM_ID, HISTORY_MODULE_NAME, HISTORY_MODULE_ID,
    HISTORY_RECORD, HISTORY_ORGAN_ID, HISTORY_ORGAN_NAME, HISTORY_USER_ID, HISTORY_USER_NAME,
    HISTORY_CREATE_TIME, HISTORY_TABLE_NAME, HISTORY_RECORD_ID
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from TSYS_HISTORY_DATA
        where HISTORY_ID = #{historyId,jdbcType=NVARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from TSYS_HISTORY_DATA
    where HISTORY_ID = #{historyId,jdbcType=NVARCHAR}
  </delete>
    <insert id="insert" parameterType="com.jb4dc.sso.dbentities.systemsetting.HistoryDataEntity">
    insert into TSYS_HISTORY_DATA (HISTORY_ID, HISTORY_SYSTEM_NAME, HISTORY_SYSTEM_ID,
      HISTORY_MODULE_NAME, HISTORY_MODULE_ID, HISTORY_RECORD,
      HISTORY_ORGAN_ID, HISTORY_ORGAN_NAME, HISTORY_USER_ID,
      HISTORY_USER_NAME, HISTORY_CREATE_TIME,
      HISTORY_TABLE_NAME, HISTORY_RECORD_ID)
    values (#{historyId,jdbcType=NVARCHAR}, #{historySystemName,jdbcType=NVARCHAR}, #{historySystemId,jdbcType=NVARCHAR},
      #{historyModuleName,jdbcType=NVARCHAR}, #{historyModuleId,jdbcType=NVARCHAR}, #{historyRecord,jdbcType=VARCHAR},
      #{historyOrganId,jdbcType=NVARCHAR}, #{historyOrganName,jdbcType=NVARCHAR}, #{historyUserId,jdbcType=NVARCHAR},
      #{historyUserName,jdbcType=NVARCHAR}, #{historyCreateTime,jdbcType=TIMESTAMP},
      #{historyTableName,jdbcType=NVARCHAR}, #{historyRecordId,jdbcType=NVARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.jb4dc.sso.dbentities.systemsetting.HistoryDataEntity">
        insert into TSYS_HISTORY_DATA
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="historyId != null">
                HISTORY_ID,
            </if>
            <if test="historySystemName != null">
                HISTORY_SYSTEM_NAME,
            </if>
            <if test="historySystemId != null">
                HISTORY_SYSTEM_ID,
            </if>
            <if test="historyModuleName != null">
                HISTORY_MODULE_NAME,
            </if>
            <if test="historyModuleId != null">
                HISTORY_MODULE_ID,
            </if>
            <if test="historyRecord != null">
                HISTORY_RECORD,
            </if>
            <if test="historyOrganId != null">
                HISTORY_ORGAN_ID,
            </if>
            <if test="historyOrganName != null">
                HISTORY_ORGAN_NAME,
            </if>
            <if test="historyUserId != null">
                HISTORY_USER_ID,
            </if>
            <if test="historyUserName != null">
                HISTORY_USER_NAME,
            </if>
            <if test="historyCreateTime != null">
                HISTORY_CREATE_TIME,
            </if>
            <if test="historyTableName != null">
                HISTORY_TABLE_NAME,
            </if>
            <if test="historyRecordId != null">
                HISTORY_RECORD_ID,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="historyId != null">
                #{historyId,jdbcType=NVARCHAR},
            </if>
            <if test="historySystemName != null">
                #{historySystemName,jdbcType=NVARCHAR},
            </if>
            <if test="historySystemId != null">
                #{historySystemId,jdbcType=NVARCHAR},
            </if>
            <if test="historyModuleName != null">
                #{historyModuleName,jdbcType=NVARCHAR},
            </if>
            <if test="historyModuleId != null">
                #{historyModuleId,jdbcType=NVARCHAR},
            </if>
            <if test="historyRecord != null">
                #{historyRecord,jdbcType=VARCHAR},
            </if>
            <if test="historyOrganId != null">
                #{historyOrganId,jdbcType=NVARCHAR},
            </if>
            <if test="historyOrganName != null">
                #{historyOrganName,jdbcType=NVARCHAR},
            </if>
            <if test="historyUserId != null">
                #{historyUserId,jdbcType=NVARCHAR},
            </if>
            <if test="historyUserName != null">
                #{historyUserName,jdbcType=NVARCHAR},
            </if>
            <if test="historyCreateTime != null">
                #{historyCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="historyTableName != null">
                #{historyTableName,jdbcType=NVARCHAR},
            </if>
            <if test="historyRecordId != null">
                #{historyRecordId,jdbcType=NVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jb4dc.sso.dbentities.systemsetting.HistoryDataEntity">
        update TSYS_HISTORY_DATA
        <set>
            <if test="historySystemName != null">
                HISTORY_SYSTEM_NAME = #{historySystemName,jdbcType=NVARCHAR},
            </if>
            <if test="historySystemId != null">
                HISTORY_SYSTEM_ID = #{historySystemId,jdbcType=NVARCHAR},
            </if>
            <if test="historyModuleName != null">
                HISTORY_MODULE_NAME = #{historyModuleName,jdbcType=NVARCHAR},
            </if>
            <if test="historyModuleId != null">
                HISTORY_MODULE_ID = #{historyModuleId,jdbcType=NVARCHAR},
            </if>
            <if test="historyRecord != null">
                HISTORY_RECORD = #{historyRecord,jdbcType=VARCHAR},
            </if>
            <if test="historyOrganId != null">
                HISTORY_ORGAN_ID = #{historyOrganId,jdbcType=NVARCHAR},
            </if>
            <if test="historyOrganName != null">
                HISTORY_ORGAN_NAME = #{historyOrganName,jdbcType=NVARCHAR},
            </if>
            <if test="historyUserId != null">
                HISTORY_USER_ID = #{historyUserId,jdbcType=NVARCHAR},
            </if>
            <if test="historyUserName != null">
                HISTORY_USER_NAME = #{historyUserName,jdbcType=NVARCHAR},
            </if>
            <if test="historyCreateTime != null">
                HISTORY_CREATE_TIME = #{historyCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="historyTableName != null">
                HISTORY_TABLE_NAME = #{historyTableName,jdbcType=NVARCHAR},
            </if>
            <if test="historyRecordId != null">
                HISTORY_RECORD_ID = #{historyRecordId,jdbcType=NVARCHAR},
            </if>
        </set>
        where HISTORY_ID = #{historyId,jdbcType=NVARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jb4dc.sso.dbentities.systemsetting.HistoryDataEntity">
    update TSYS_HISTORY_DATA
    set HISTORY_SYSTEM_NAME = #{historySystemName,jdbcType=NVARCHAR},
      HISTORY_SYSTEM_ID = #{historySystemId,jdbcType=NVARCHAR},
      HISTORY_MODULE_NAME = #{historyModuleName,jdbcType=NVARCHAR},
      HISTORY_MODULE_ID = #{historyModuleId,jdbcType=NVARCHAR},
      HISTORY_RECORD = #{historyRecord,jdbcType=VARCHAR},
      HISTORY_ORGAN_ID = #{historyOrganId,jdbcType=NVARCHAR},
      HISTORY_ORGAN_NAME = #{historyOrganName,jdbcType=NVARCHAR},
      HISTORY_USER_ID = #{historyUserId,jdbcType=NVARCHAR},
      HISTORY_USER_NAME = #{historyUserName,jdbcType=NVARCHAR},
      HISTORY_CREATE_TIME = #{historyCreateTime,jdbcType=TIMESTAMP},
      HISTORY_TABLE_NAME = #{historyTableName,jdbcType=NVARCHAR},
      HISTORY_RECORD_ID = #{historyRecordId,jdbcType=NVARCHAR}
    where HISTORY_ID = #{historyId,jdbcType=NVARCHAR}
  </update>
</mapper>