<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jb4dc.sso.dao.systemsetting.OperationLogMapper">
    <select id="nextOrderNum" resultType="integer">
        select case when max(LOG_ORDER_NUM) is null then 1 else max(LOG_ORDER_NUM)+1 end ORDERNUM from TSYS_OPERATION_LOG
    </select>
    <select id="selectBySearch" parameterType="java.util.Map" resultMap="BaseResultMap">select<include refid="Base_Column_List"/>from TSYS_OPERATION_LOG<where>
        <if test="logText !=null and logText !=''"> and LOG_TEXT like #{logText} </if>
        <if test="logSystemId !=null and logSystemId !=''"> and LOG_SYSTEM_ID like #{logSystemId} </if>
        <if test="logSystemName !=null and logSystemName !=''"> and LOG_SYSTEM_NAME like #{logSystemName} </if>
        <if test="logModuleId !=null and logModuleId !=''"> and LOG_MODULE_ID like #{logModuleId} </if>
        <if test="logModuleName !=null and logModuleName !=''"> and LOG_MODULE_NAME like #{logModuleName} </if>
        <if test="logActionName !=null and logActionName !=''"> and LOG_ACTION_NAME like #{logActionName} </if>
        <if test="logData !=null and logData !=''"> and LOG_DATA like #{logData} </if>
        <if test="logUserId !=null and logUserId !=''"> and LOG_USER_ID like #{logUserId} </if>
        <if test="logUserName !=null and logUserName !=''"> and LOG_USER_NAME like #{logUserName} </if>
        <if test="logOrganId !=null and logOrganId !=''"> and LOG_ORGAN_ID like #{logOrganId} </if>
        <if test="logOrganName !=null and logOrganName !=''"> and LOG_ORGAN_NAME like #{logOrganName} </if>
        <if test="logIp !=null and logIp !=''"> and LOG_IP like #{logIp} </if>
        <if test="logType !=null and logType !=''"> and LOG_TYPE like #{logType} </if>
        <if test="logClassName !=null and logClassName !=''"> and LOG_CLASS_NAME like #{logClassName} </if>
        <if test="logStatus !=null and logStatus !=''"> and LOG_STATUS like #{logStatus} </if>
    </where>ORDER by LOG_ORDER_NUM DESC</select>
</mapper>