<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jb4dc.sso.dao.systemsetting.SettingMapper">
    <select id="selectAll" resultMap="BaseResultMap">select<include refid="Base_Column_List"/> from TSYS_SETTING ORDER by SETTING_ORDER_NUM DESC</select>
    <select id="selectAllASC" resultMap="BaseResultMap">select<include refid="Base_Column_List"/> from TSYS_SETTING ORDER by SETTING_ORDER_NUM ASC</select>
    <select id="nextOrderNum" resultType="integer">select case when max(SETTING_ORDER_NUM) is null then 1 else max(SETTING_ORDER_NUM)+1 end ORDERNUM from TSYS_SETTING</select>
    <select id="selectBySearch" parameterType="java.util.Map" resultMap="BaseResultMap">select<include refid="Base_Column_List"/>from TSYS_SETTING<where>
        <if test="settingSystemName !=null and settingSystemName !=''"> and SETTING_SYSTEM_NAME like #{settingSystemName} </if>
        <if test="settingSystemId !=null and settingSystemId !=''"> and SETTING_SYSTEM_ID like #{settingSystemId} </if>
        <if test="settingModuleName !=null and settingModuleName !=''"> and SETTING_MODULE_NAME like #{settingModuleName} </if>
        <if test="settingModuleId !=null and settingModuleId !=''"> and SETTING_MODULE_ID like #{settingModuleId} </if>
        <if test="settingKey !=null and settingKey !=''"> and SETTING_KEY like #{settingKey} </if>
        <if test="settingName !=null and settingName !=''"> and SETTING_NAME like #{settingName} </if>
        <if test="settingValue !=null and settingValue !=''"> and SETTING_VALUE like #{settingValue} </if>
        <if test="settingStatus !=null and settingStatus !=''"> and SETTING_STATUS like #{settingStatus} </if>
        <if test="settingDesc !=null and settingDesc !=''"> and SETTING_DESC like #{settingDesc} </if>
        <if test="settingUserId !=null and settingUserId !=''"> and SETTING_USER_ID like #{settingUserId} </if>
        <if test="settingUserName !=null and settingUserName !=''"> and SETTING_USER_NAME like #{settingUserName} </if>
        <if test="settingOrganId !=null and settingOrganId !=''"> and SETTING_ORGAN_ID like #{settingOrganId} </if>
        <if test="settingOrganName !=null and settingOrganName !=''"> and SETTING_ORGAN_NAME like #{settingOrganName} </if>
        <if test="settingApi !=null and settingApi !=''"> and SETTING_API like #{settingApi} </if>
        <if test="settingIsSystem !=null and settingIsSystem !=''"> and SETTING_IS_SYSTEM like #{settingIsSystem} </if>
    </where>ORDER by SETTING_ORDER_NUM DESC</select>
    <delete id="deleteAll">
        delete from TSYS_SETTING
    </delete>

    <select id="selectByKeyField" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from TSYS_SETTING where SETTING_KEY=#{key,jdbcType=NVARCHAR}
    </select>
</mapper>