<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jb4dc.sso.dao.menu.MenuMapper">
    <resultMap id="BaseResultMap" type="com.jb4dc.sso.dbentities.menu.MenuEntity">
        <constructor>
            <idArg column="MENU_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MENU_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MENU_SYSTEM_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MENU_TEXT" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MENU_VALUE" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MENU_TYPE" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MENU_OUTER_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MENU_OUTER_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MENU_CREATOR_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MENU_ORGAN_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MENU_ORGAN_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MENU_IS_EXPAND" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MENU_IS_SYSTEM" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MENU_LEFT_URL" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MENU_LEFT_URL_PARA" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MENU_RIGHT_URL" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MENU_RIGHT_URL_PARA" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MENU_ORDER_NUM" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="MENU_PARENT_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MENU_PARENT_ID_LIST" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MENU_TARGET" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MENU_CREATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
            <arg column="MENU_UPDATER" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MENU_UPDATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
            <arg column="MENU_USE_ORGAN_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MENU_USE_ORGAN_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MENU_USE_ORGAN_TYPE_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MENU_USE_ORGAN_TYPE_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MENU_CLASS_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MENU_CLASS_NAME_HOVER" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MENU_CLASS_NAME_SELECTED" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MENU_CHILD_COUNT" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="MENU_DESCRIPTION" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MENU_STATUS" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MENU_JS_EXPRESSION" javaType="java.lang.String" jdbcType="VARCHAR" />
            <arg column="MENU_OUTER_OBJECT" javaType="java.lang.String" jdbcType="VARCHAR" />
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    MENU_ID, MENU_NAME, MENU_SYSTEM_ID, MENU_TEXT, MENU_VALUE, MENU_TYPE, MENU_OUTER_ID,
    MENU_OUTER_NAME, MENU_CREATOR_ID, MENU_ORGAN_ID, MENU_ORGAN_NAME, MENU_IS_EXPAND,
    MENU_IS_SYSTEM, MENU_LEFT_URL, MENU_LEFT_URL_PARA, MENU_RIGHT_URL, MENU_RIGHT_URL_PARA,
    MENU_ORDER_NUM, MENU_PARENT_ID, MENU_PARENT_ID_LIST, MENU_TARGET, MENU_CREATE_TIME,
    MENU_UPDATER, MENU_UPDATE_TIME, MENU_USE_ORGAN_NAME, MENU_USE_ORGAN_ID, MENU_USE_ORGAN_TYPE_NAME,
    MENU_USE_ORGAN_TYPE_ID, MENU_CLASS_NAME, MENU_CLASS_NAME_HOVER, MENU_CLASS_NAME_SELECTED,
    MENU_CHILD_COUNT, MENU_DESCRIPTION, MENU_STATUS, MENU_JS_EXPRESSION, MENU_OUTER_OBJECT
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from TSSO_MENU
        where MENU_ID = #{menuId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from TSSO_MENU
    where MENU_ID = #{menuId,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.jb4dc.sso.dbentities.menu.MenuEntity">
    insert into TSSO_MENU (MENU_ID, MENU_NAME, MENU_SYSTEM_ID,
      MENU_TEXT, MENU_VALUE, MENU_TYPE,
      MENU_OUTER_ID, MENU_OUTER_NAME, MENU_CREATOR_ID,
      MENU_ORGAN_ID, MENU_ORGAN_NAME, MENU_IS_EXPAND,
      MENU_IS_SYSTEM, MENU_LEFT_URL, MENU_LEFT_URL_PARA,
      MENU_RIGHT_URL, MENU_RIGHT_URL_PARA, MENU_ORDER_NUM,
      MENU_PARENT_ID, MENU_PARENT_ID_LIST, MENU_TARGET,
      MENU_CREATE_TIME, MENU_UPDATER, MENU_UPDATE_TIME,
      MENU_USE_ORGAN_NAME, MENU_USE_ORGAN_ID, MENU_USE_ORGAN_TYPE_NAME,
      MENU_USE_ORGAN_TYPE_ID, MENU_CLASS_NAME, MENU_CLASS_NAME_HOVER,
      MENU_CLASS_NAME_SELECTED, MENU_CHILD_COUNT,
      MENU_DESCRIPTION, MENU_STATUS, MENU_JS_EXPRESSION,
      MENU_OUTER_OBJECT)
    values (#{menuId,jdbcType=VARCHAR}, #{menuName,jdbcType=VARCHAR}, #{menuSystemId,jdbcType=VARCHAR},
      #{menuText,jdbcType=VARCHAR}, #{menuValue,jdbcType=VARCHAR}, #{menuType,jdbcType=VARCHAR},
      #{menuOuterId,jdbcType=VARCHAR}, #{menuOuterName,jdbcType=VARCHAR}, #{menuCreatorId,jdbcType=VARCHAR},
      #{menuOrganId,jdbcType=VARCHAR}, #{menuOrganName,jdbcType=VARCHAR}, #{menuIsExpand,jdbcType=VARCHAR},
      #{menuIsSystem,jdbcType=VARCHAR}, #{menuLeftUrl,jdbcType=VARCHAR}, #{menuLeftUrlPara,jdbcType=VARCHAR},
      #{menuRightUrl,jdbcType=VARCHAR}, #{menuRightUrlPara,jdbcType=VARCHAR}, #{menuOrderNum,jdbcType=INTEGER},
      #{menuParentId,jdbcType=VARCHAR}, #{menuParentIdList,jdbcType=VARCHAR}, #{menuTarget,jdbcType=VARCHAR},
      #{menuCreateTime,jdbcType=TIMESTAMP}, #{menuUpdater,jdbcType=VARCHAR}, #{menuUpdateTime,jdbcType=TIMESTAMP},
      #{menuUseOrganName,jdbcType=VARCHAR}, #{menuUseOrganId,jdbcType=VARCHAR}, #{menuUseOrganTypeName,jdbcType=VARCHAR},
      #{menuUseOrganTypeId,jdbcType=VARCHAR}, #{menuClassName,jdbcType=VARCHAR}, #{menuClassNameHover,jdbcType=VARCHAR},
      #{menuClassNameSelected,jdbcType=VARCHAR}, #{menuChildCount,jdbcType=INTEGER},
      #{menuDescription,jdbcType=VARCHAR}, #{menuStatus,jdbcType=VARCHAR}, #{menuJsExpression,jdbcType=VARCHAR},
      #{menuOuterObject,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.jb4dc.sso.dbentities.menu.MenuEntity">
        insert into TSSO_MENU
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="menuId != null">
                MENU_ID,
            </if>
            <if test="menuName != null">
                MENU_NAME,
            </if>
            <if test="menuSystemId != null">
                MENU_SYSTEM_ID,
            </if>
            <if test="menuText != null">
                MENU_TEXT,
            </if>
            <if test="menuValue != null">
                MENU_VALUE,
            </if>
            <if test="menuType != null">
                MENU_TYPE,
            </if>
            <if test="menuOuterId != null">
                MENU_OUTER_ID,
            </if>
            <if test="menuOuterName != null">
                MENU_OUTER_NAME,
            </if>
            <if test="menuCreatorId != null">
                MENU_CREATOR_ID,
            </if>
            <if test="menuOrganId != null">
                MENU_ORGAN_ID,
            </if>
            <if test="menuOrganName != null">
                MENU_ORGAN_NAME,
            </if>
            <if test="menuIsExpand != null">
                MENU_IS_EXPAND,
            </if>
            <if test="menuIsSystem != null">
                MENU_IS_SYSTEM,
            </if>
            <if test="menuLeftUrl != null">
                MENU_LEFT_URL,
            </if>
            <if test="menuLeftUrlPara != null">
                MENU_LEFT_URL_PARA,
            </if>
            <if test="menuRightUrl != null">
                MENU_RIGHT_URL,
            </if>
            <if test="menuRightUrlPara != null">
                MENU_RIGHT_URL_PARA,
            </if>
            <if test="menuOrderNum != null">
                MENU_ORDER_NUM,
            </if>
            <if test="menuParentId != null">
                MENU_PARENT_ID,
            </if>
            <if test="menuParentIdList != null">
                MENU_PARENT_ID_LIST,
            </if>
            <if test="menuTarget != null">
                MENU_TARGET,
            </if>
            <if test="menuCreateTime != null">
                MENU_CREATE_TIME,
            </if>
            <if test="menuUpdater != null">
                MENU_UPDATER,
            </if>
            <if test="menuUpdateTime != null">
                MENU_UPDATE_TIME,
            </if>
            <if test="menuUseOrganName != null">
                MENU_USE_ORGAN_NAME,
            </if>
            <if test="menuUseOrganId != null">
                MENU_USE_ORGAN_ID,
            </if>
            <if test="menuUseOrganTypeName != null">
                MENU_USE_ORGAN_TYPE_NAME,
            </if>
            <if test="menuUseOrganTypeId != null">
                MENU_USE_ORGAN_TYPE_ID,
            </if>
            <if test="menuClassName != null">
                MENU_CLASS_NAME,
            </if>
            <if test="menuClassNameHover != null">
                MENU_CLASS_NAME_HOVER,
            </if>
            <if test="menuClassNameSelected != null">
                MENU_CLASS_NAME_SELECTED,
            </if>
            <if test="menuChildCount != null">
                MENU_CHILD_COUNT,
            </if>
            <if test="menuDescription != null">
                MENU_DESCRIPTION,
            </if>
            <if test="menuStatus != null">
                MENU_STATUS,
            </if>
            <if test="menuJsExpression != null">
                MENU_JS_EXPRESSION,
            </if>
            <if test="menuOuterObject != null">
                MENU_OUTER_OBJECT,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="menuId != null">
                #{menuId,jdbcType=VARCHAR},
            </if>
            <if test="menuName != null">
                #{menuName,jdbcType=VARCHAR},
            </if>
            <if test="menuSystemId != null">
                #{menuSystemId,jdbcType=VARCHAR},
            </if>
            <if test="menuText != null">
                #{menuText,jdbcType=VARCHAR},
            </if>
            <if test="menuValue != null">
                #{menuValue,jdbcType=VARCHAR},
            </if>
            <if test="menuType != null">
                #{menuType,jdbcType=VARCHAR},
            </if>
            <if test="menuOuterId != null">
                #{menuOuterId,jdbcType=VARCHAR},
            </if>
            <if test="menuOuterName != null">
                #{menuOuterName,jdbcType=VARCHAR},
            </if>
            <if test="menuCreatorId != null">
                #{menuCreatorId,jdbcType=VARCHAR},
            </if>
            <if test="menuOrganId != null">
                #{menuOrganId,jdbcType=VARCHAR},
            </if>
            <if test="menuOrganName != null">
                #{menuOrganName,jdbcType=VARCHAR},
            </if>
            <if test="menuIsExpand != null">
                #{menuIsExpand,jdbcType=VARCHAR},
            </if>
            <if test="menuIsSystem != null">
                #{menuIsSystem,jdbcType=VARCHAR},
            </if>
            <if test="menuLeftUrl != null">
                #{menuLeftUrl,jdbcType=VARCHAR},
            </if>
            <if test="menuLeftUrlPara != null">
                #{menuLeftUrlPara,jdbcType=VARCHAR},
            </if>
            <if test="menuRightUrl != null">
                #{menuRightUrl,jdbcType=VARCHAR},
            </if>
            <if test="menuRightUrlPara != null">
                #{menuRightUrlPara,jdbcType=VARCHAR},
            </if>
            <if test="menuOrderNum != null">
                #{menuOrderNum,jdbcType=INTEGER},
            </if>
            <if test="menuParentId != null">
                #{menuParentId,jdbcType=VARCHAR},
            </if>
            <if test="menuParentIdList != null">
                #{menuParentIdList,jdbcType=VARCHAR},
            </if>
            <if test="menuTarget != null">
                #{menuTarget,jdbcType=VARCHAR},
            </if>
            <if test="menuCreateTime != null">
                #{menuCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="menuUpdater != null">
                #{menuUpdater,jdbcType=VARCHAR},
            </if>
            <if test="menuUpdateTime != null">
                #{menuUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="menuUseOrganName != null">
                #{menuUseOrganName,jdbcType=VARCHAR},
            </if>
            <if test="menuUseOrganId != null">
                #{menuUseOrganId,jdbcType=VARCHAR},
            </if>
            <if test="menuUseOrganTypeName != null">
                #{menuUseOrganTypeName,jdbcType=VARCHAR},
            </if>
            <if test="menuUseOrganTypeId != null">
                #{menuUseOrganTypeId,jdbcType=VARCHAR},
            </if>
            <if test="menuClassName != null">
                #{menuClassName,jdbcType=VARCHAR},
            </if>
            <if test="menuClassNameHover != null">
                #{menuClassNameHover,jdbcType=VARCHAR},
            </if>
            <if test="menuClassNameSelected != null">
                #{menuClassNameSelected,jdbcType=VARCHAR},
            </if>
            <if test="menuChildCount != null">
                #{menuChildCount,jdbcType=INTEGER},
            </if>
            <if test="menuDescription != null">
                #{menuDescription,jdbcType=VARCHAR},
            </if>
            <if test="menuStatus != null">
                #{menuStatus,jdbcType=VARCHAR},
            </if>
            <if test="menuJsExpression != null">
                #{menuJsExpression,jdbcType=VARCHAR},
            </if>
            <if test="menuOuterObject != null">
                #{menuOuterObject,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jb4dc.sso.dbentities.menu.MenuEntity">
        update TSSO_MENU
        <set>
            <if test="menuName != null">
                MENU_NAME = #{menuName,jdbcType=VARCHAR},
            </if>
            <if test="menuSystemId != null">
                MENU_SYSTEM_ID = #{menuSystemId,jdbcType=VARCHAR},
            </if>
            <if test="menuText != null">
                MENU_TEXT = #{menuText,jdbcType=VARCHAR},
            </if>
            <if test="menuValue != null">
                MENU_VALUE = #{menuValue,jdbcType=VARCHAR},
            </if>
            <if test="menuType != null">
                MENU_TYPE = #{menuType,jdbcType=VARCHAR},
            </if>
            <if test="menuOuterId != null">
                MENU_OUTER_ID = #{menuOuterId,jdbcType=VARCHAR},
            </if>
            <if test="menuOuterName != null">
                MENU_OUTER_NAME = #{menuOuterName,jdbcType=VARCHAR},
            </if>
            <if test="menuCreatorId != null">
                MENU_CREATOR_ID = #{menuCreatorId,jdbcType=VARCHAR},
            </if>
            <if test="menuOrganId != null">
                MENU_ORGAN_ID = #{menuOrganId,jdbcType=VARCHAR},
            </if>
            <if test="menuOrganName != null">
                MENU_ORGAN_NAME = #{menuOrganName,jdbcType=VARCHAR},
            </if>
            <if test="menuIsExpand != null">
                MENU_IS_EXPAND = #{menuIsExpand,jdbcType=VARCHAR},
            </if>
            <if test="menuIsSystem != null">
                MENU_IS_SYSTEM = #{menuIsSystem,jdbcType=VARCHAR},
            </if>
            <if test="menuLeftUrl != null">
                MENU_LEFT_URL = #{menuLeftUrl,jdbcType=VARCHAR},
            </if>
            <if test="menuLeftUrlPara != null">
                MENU_LEFT_URL_PARA = #{menuLeftUrlPara,jdbcType=VARCHAR},
            </if>
            <if test="menuRightUrl != null">
                MENU_RIGHT_URL = #{menuRightUrl,jdbcType=VARCHAR},
            </if>
            <if test="menuRightUrlPara != null">
                MENU_RIGHT_URL_PARA = #{menuRightUrlPara,jdbcType=VARCHAR},
            </if>
            <if test="menuOrderNum != null">
                MENU_ORDER_NUM = #{menuOrderNum,jdbcType=INTEGER},
            </if>
            <if test="menuParentId != null">
                MENU_PARENT_ID = #{menuParentId,jdbcType=VARCHAR},
            </if>
            <if test="menuParentIdList != null">
                MENU_PARENT_ID_LIST = #{menuParentIdList,jdbcType=VARCHAR},
            </if>
            <if test="menuTarget != null">
                MENU_TARGET = #{menuTarget,jdbcType=VARCHAR},
            </if>
            <if test="menuCreateTime != null">
                MENU_CREATE_TIME = #{menuCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="menuUpdater != null">
                MENU_UPDATER = #{menuUpdater,jdbcType=VARCHAR},
            </if>
            <if test="menuUpdateTime != null">
                MENU_UPDATE_TIME = #{menuUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="menuUseOrganName != null">
                MENU_USE_ORGAN_NAME = #{menuUseOrganName,jdbcType=VARCHAR},
            </if>
            <if test="menuUseOrganId != null">
                MENU_USE_ORGAN_ID = #{menuUseOrganId,jdbcType=VARCHAR},
            </if>
            <if test="menuUseOrganTypeName != null">
                MENU_USE_ORGAN_TYPE_NAME = #{menuUseOrganTypeName,jdbcType=VARCHAR},
            </if>
            <if test="menuUseOrganTypeId != null">
                MENU_USE_ORGAN_TYPE_ID = #{menuUseOrganTypeId,jdbcType=VARCHAR},
            </if>
            <if test="menuClassName != null">
                MENU_CLASS_NAME = #{menuClassName,jdbcType=VARCHAR},
            </if>
            <if test="menuClassNameHover != null">
                MENU_CLASS_NAME_HOVER = #{menuClassNameHover,jdbcType=VARCHAR},
            </if>
            <if test="menuClassNameSelected != null">
                MENU_CLASS_NAME_SELECTED = #{menuClassNameSelected,jdbcType=VARCHAR},
            </if>
            <if test="menuChildCount != null">
                MENU_CHILD_COUNT = #{menuChildCount,jdbcType=INTEGER},
            </if>
            <if test="menuDescription != null">
                MENU_DESCRIPTION = #{menuDescription,jdbcType=VARCHAR},
            </if>
            <if test="menuStatus != null">
                MENU_STATUS = #{menuStatus,jdbcType=VARCHAR},
            </if>
            <if test="menuJsExpression != null">
                MENU_JS_EXPRESSION = #{menuJsExpression,jdbcType=VARCHAR},
            </if>
            <if test="menuOuterObject != null">
                MENU_OUTER_OBJECT = #{menuOuterObject,jdbcType=VARCHAR},
            </if>
        </set>
        where MENU_ID = #{menuId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jb4dc.sso.dbentities.menu.MenuEntity">
    update TSSO_MENU
    set MENU_NAME = #{menuName,jdbcType=VARCHAR},
      MENU_SYSTEM_ID = #{menuSystemId,jdbcType=VARCHAR},
      MENU_TEXT = #{menuText,jdbcType=VARCHAR},
      MENU_VALUE = #{menuValue,jdbcType=VARCHAR},
      MENU_TYPE = #{menuType,jdbcType=VARCHAR},
      MENU_OUTER_ID = #{menuOuterId,jdbcType=VARCHAR},
      MENU_OUTER_NAME = #{menuOuterName,jdbcType=VARCHAR},
      MENU_CREATOR_ID = #{menuCreatorId,jdbcType=VARCHAR},
      MENU_ORGAN_ID = #{menuOrganId,jdbcType=VARCHAR},
      MENU_ORGAN_NAME = #{menuOrganName,jdbcType=VARCHAR},
      MENU_IS_EXPAND = #{menuIsExpand,jdbcType=VARCHAR},
      MENU_IS_SYSTEM = #{menuIsSystem,jdbcType=VARCHAR},
      MENU_LEFT_URL = #{menuLeftUrl,jdbcType=VARCHAR},
      MENU_LEFT_URL_PARA = #{menuLeftUrlPara,jdbcType=VARCHAR},
      MENU_RIGHT_URL = #{menuRightUrl,jdbcType=VARCHAR},
      MENU_RIGHT_URL_PARA = #{menuRightUrlPara,jdbcType=VARCHAR},
      MENU_ORDER_NUM = #{menuOrderNum,jdbcType=INTEGER},
      MENU_PARENT_ID = #{menuParentId,jdbcType=VARCHAR},
      MENU_PARENT_ID_LIST = #{menuParentIdList,jdbcType=VARCHAR},
      MENU_TARGET = #{menuTarget,jdbcType=VARCHAR},
      MENU_CREATE_TIME = #{menuCreateTime,jdbcType=TIMESTAMP},
      MENU_UPDATER = #{menuUpdater,jdbcType=VARCHAR},
      MENU_UPDATE_TIME = #{menuUpdateTime,jdbcType=TIMESTAMP},
      MENU_USE_ORGAN_NAME = #{menuUseOrganName,jdbcType=VARCHAR},
      MENU_USE_ORGAN_ID = #{menuUseOrganId,jdbcType=VARCHAR},
      MENU_USE_ORGAN_TYPE_NAME = #{menuUseOrganTypeName,jdbcType=VARCHAR},
      MENU_USE_ORGAN_TYPE_ID = #{menuUseOrganTypeId,jdbcType=VARCHAR},
      MENU_CLASS_NAME = #{menuClassName,jdbcType=VARCHAR},
      MENU_CLASS_NAME_HOVER = #{menuClassNameHover,jdbcType=VARCHAR},
      MENU_CLASS_NAME_SELECTED = #{menuClassNameSelected,jdbcType=VARCHAR},
      MENU_CHILD_COUNT = #{menuChildCount,jdbcType=INTEGER},
      MENU_DESCRIPTION = #{menuDescription,jdbcType=VARCHAR},
      MENU_STATUS = #{menuStatus,jdbcType=VARCHAR},
      MENU_JS_EXPRESSION = #{menuJsExpression,jdbcType=VARCHAR},
      MENU_OUTER_OBJECT = #{menuOuterObject,jdbcType=VARCHAR}
    where MENU_ID = #{menuId,jdbcType=VARCHAR}
  </update>
</mapper>