<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jb4dc.system.setting.dao.SettingMapper">
  <resultMap id="BaseResultMap" type="com.jb4dc.system.setting.dbentities.SettingEntity">
    <constructor>
      <idArg column="SETTING_ID" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="SETTING_SYSTEM_NAME" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="SETTING_MODULE_NAME" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="SETTING_KEY" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="SETTING_NAME" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="SETTING_VALUE" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="SETTING_STATUS" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="SETTING_DESC" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="SETTING_CREATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="SETTING_USER_ID" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="SETTING_USER_NAME" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="SETTING_ORGAN_ID" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="SETTING_ORGAN_NAME" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="SETTING_API" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="SETTING_IS_SYSTEM" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="SETTING_ORDER_NUM" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
            SETTING_ID, SETTING_SYSTEM_NAME, SETTING_MODULE_NAME, SETTING_KEY, SETTING_NAME,
            SETTING_VALUE, SETTING_STATUS, SETTING_DESC, SETTING_CREATE_TIME, SETTING_USER_ID,
            SETTING_USER_NAME, SETTING_ORGAN_ID, SETTING_ORGAN_NAME, SETTING_API, SETTING_IS_SYSTEM,
            SETTING_ORDER_NUM
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from TSYS_SETTING
    where SETTING_ID = #{settingId,jdbcType=NVARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from TSYS_SETTING
    where SETTING_ID = #{settingId,jdbcType=NVARCHAR}
  </delete>
  <insert id="insert" parameterType="com.jb4dc.system.setting.dbentities.SettingEntity">
    insert into TSYS_SETTING (SETTING_ID, SETTING_SYSTEM_NAME, SETTING_MODULE_NAME,
                              SETTING_KEY, SETTING_NAME, SETTING_VALUE,
                              SETTING_STATUS, SETTING_DESC, SETTING_CREATE_TIME,
                              SETTING_USER_ID, SETTING_USER_NAME, SETTING_ORGAN_ID,
                              SETTING_ORGAN_NAME, SETTING_API, SETTING_IS_SYSTEM,
                              SETTING_ORDER_NUM)
    values (#{settingId,jdbcType=NVARCHAR}, #{settingSystemName,jdbcType=NVARCHAR}, #{settingModuleName,jdbcType=NVARCHAR},
            #{settingKey,jdbcType=NVARCHAR}, #{settingName,jdbcType=NVARCHAR}, #{settingValue,jdbcType=NVARCHAR},
            #{settingStatus,jdbcType=NVARCHAR}, #{settingDesc,jdbcType=NVARCHAR}, #{settingCreateTime,jdbcType=TIMESTAMP},
            #{settingUserId,jdbcType=NVARCHAR}, #{settingUserName,jdbcType=NVARCHAR}, #{settingOrganId,jdbcType=NVARCHAR},
            #{settingOrganName,jdbcType=NVARCHAR}, #{settingApi,jdbcType=NVARCHAR}, #{settingIsSystem,jdbcType=NVARCHAR},
            #{settingOrderNum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.jb4dc.system.setting.dbentities.SettingEntity">
    insert into TSYS_SETTING
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="settingId != null">
        SETTING_ID,
      </if>
      <if test="settingSystemName != null">
        SETTING_SYSTEM_NAME,
      </if>
      <if test="settingModuleName != null">
        SETTING_MODULE_NAME,
      </if>
      <if test="settingKey != null">
        SETTING_KEY,
      </if>
      <if test="settingName != null">
        SETTING_NAME,
      </if>
      <if test="settingValue != null">
        SETTING_VALUE,
      </if>
      <if test="settingStatus != null">
        SETTING_STATUS,
      </if>
      <if test="settingDesc != null">
        SETTING_DESC,
      </if>
      <if test="settingCreateTime != null">
        SETTING_CREATE_TIME,
      </if>
      <if test="settingUserId != null">
        SETTING_USER_ID,
      </if>
      <if test="settingUserName != null">
        SETTING_USER_NAME,
      </if>
      <if test="settingOrganId != null">
        SETTING_ORGAN_ID,
      </if>
      <if test="settingOrganName != null">
        SETTING_ORGAN_NAME,
      </if>
      <if test="settingApi != null">
        SETTING_API,
      </if>
      <if test="settingIsSystem != null">
        SETTING_IS_SYSTEM,
      </if>
      <if test="settingOrderNum != null">
        SETTING_ORDER_NUM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="settingId != null">
        #{settingId,jdbcType=NVARCHAR},
      </if>
      <if test="settingSystemName != null">
        #{settingSystemName,jdbcType=NVARCHAR},
      </if>
      <if test="settingModuleName != null">
        #{settingModuleName,jdbcType=NVARCHAR},
      </if>
      <if test="settingKey != null">
        #{settingKey,jdbcType=NVARCHAR},
      </if>
      <if test="settingName != null">
        #{settingName,jdbcType=NVARCHAR},
      </if>
      <if test="settingValue != null">
        #{settingValue,jdbcType=NVARCHAR},
      </if>
      <if test="settingStatus != null">
        #{settingStatus,jdbcType=NVARCHAR},
      </if>
      <if test="settingDesc != null">
        #{settingDesc,jdbcType=NVARCHAR},
      </if>
      <if test="settingCreateTime != null">
        #{settingCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="settingUserId != null">
        #{settingUserId,jdbcType=NVARCHAR},
      </if>
      <if test="settingUserName != null">
        #{settingUserName,jdbcType=NVARCHAR},
      </if>
      <if test="settingOrganId != null">
        #{settingOrganId,jdbcType=NVARCHAR},
      </if>
      <if test="settingOrganName != null">
        #{settingOrganName,jdbcType=NVARCHAR},
      </if>
      <if test="settingApi != null">
        #{settingApi,jdbcType=NVARCHAR},
      </if>
      <if test="settingIsSystem != null">
        #{settingIsSystem,jdbcType=NVARCHAR},
      </if>
      <if test="settingOrderNum != null">
        #{settingOrderNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jb4dc.system.setting.dbentities.SettingEntity">
    update TSYS_SETTING
    <set>
      <if test="settingSystemName != null">
        SETTING_SYSTEM_NAME = #{settingSystemName,jdbcType=NVARCHAR},
      </if>
      <if test="settingModuleName != null">
        SETTING_MODULE_NAME = #{settingModuleName,jdbcType=NVARCHAR},
      </if>
      <if test="settingKey != null">
        SETTING_KEY = #{settingKey,jdbcType=NVARCHAR},
      </if>
      <if test="settingName != null">
        SETTING_NAME = #{settingName,jdbcType=NVARCHAR},
      </if>
      <if test="settingValue != null">
        SETTING_VALUE = #{settingValue,jdbcType=NVARCHAR},
      </if>
      <if test="settingStatus != null">
        SETTING_STATUS = #{settingStatus,jdbcType=NVARCHAR},
      </if>
      <if test="settingDesc != null">
        SETTING_DESC = #{settingDesc,jdbcType=NVARCHAR},
      </if>
      <if test="settingCreateTime != null">
        SETTING_CREATE_TIME = #{settingCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="settingUserId != null">
        SETTING_USER_ID = #{settingUserId,jdbcType=NVARCHAR},
      </if>
      <if test="settingUserName != null">
        SETTING_USER_NAME = #{settingUserName,jdbcType=NVARCHAR},
      </if>
      <if test="settingOrganId != null">
        SETTING_ORGAN_ID = #{settingOrganId,jdbcType=NVARCHAR},
      </if>
      <if test="settingOrganName != null">
        SETTING_ORGAN_NAME = #{settingOrganName,jdbcType=NVARCHAR},
      </if>
      <if test="settingApi != null">
        SETTING_API = #{settingApi,jdbcType=NVARCHAR},
      </if>
      <if test="settingIsSystem != null">
        SETTING_IS_SYSTEM = #{settingIsSystem,jdbcType=NVARCHAR},
      </if>
      <if test="settingOrderNum != null">
        SETTING_ORDER_NUM = #{settingOrderNum,jdbcType=INTEGER},
      </if>
    </set>
    where SETTING_ID = #{settingId,jdbcType=NVARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jb4dc.system.setting.dbentities.SettingEntity">
    update TSYS_SETTING
    set SETTING_SYSTEM_NAME = #{settingSystemName,jdbcType=NVARCHAR},
        SETTING_MODULE_NAME = #{settingModuleName,jdbcType=NVARCHAR},
        SETTING_KEY = #{settingKey,jdbcType=NVARCHAR},
        SETTING_NAME = #{settingName,jdbcType=NVARCHAR},
        SETTING_VALUE = #{settingValue,jdbcType=NVARCHAR},
        SETTING_STATUS = #{settingStatus,jdbcType=NVARCHAR},
        SETTING_DESC = #{settingDesc,jdbcType=NVARCHAR},
        SETTING_CREATE_TIME = #{settingCreateTime,jdbcType=TIMESTAMP},
        SETTING_USER_ID = #{settingUserId,jdbcType=NVARCHAR},
        SETTING_USER_NAME = #{settingUserName,jdbcType=NVARCHAR},
        SETTING_ORGAN_ID = #{settingOrganId,jdbcType=NVARCHAR},
        SETTING_ORGAN_NAME = #{settingOrganName,jdbcType=NVARCHAR},
        SETTING_API = #{settingApi,jdbcType=NVARCHAR},
        SETTING_IS_SYSTEM = #{settingIsSystem,jdbcType=NVARCHAR},
        SETTING_ORDER_NUM = #{settingOrderNum,jdbcType=INTEGER}
    where SETTING_ID = #{settingId,jdbcType=NVARCHAR}
  </update>
</mapper>