<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jb4dc.sso.dao.department.DepartmentMapper">
    <resultMap id="BaseResultMap" type="com.jb4dc.sso.dbentities.department.DepartmentEntity">
        <constructor>
            <idArg column="DEPT_ID" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="DEPT_NAME" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="DEPT_SHORT_NAME" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="DEPT_NO" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="DEPT_PER_CHARGE" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="DEPT_PER_CHARGE_PHONE" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="DEPT_IS_VIRTUAL" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="DEPT_CHILD_COUNT" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="DEPT_CREATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
            <arg column="DEPT_CREATOR_ID" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="DEPT_ORDER_NUM" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="DEPT_IS_ROOT" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="DEPT_PARENT_ID" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="DEPT_PARENT_ID_LIST" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="DEPT_STATUS" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="DEPT_ORGAN_ID" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="DEPT_DESC" javaType="java.lang.String" jdbcType="NVARCHAR" />
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    DEPT_ID, DEPT_NAME, DEPT_SHORT_NAME, DEPT_NO, DEPT_PER_CHARGE, DEPT_PER_CHARGE_PHONE,
    DEPT_IS_VIRTUAL, DEPT_CHILD_COUNT, DEPT_CREATE_TIME, DEPT_CREATOR_ID, DEPT_ORDER_NUM,
    DEPT_IS_ROOT, DEPT_PARENT_ID, DEPT_PARENT_ID_LIST, DEPT_STATUS, DEPT_ORGAN_ID, DEPT_DESC
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from TSSO_DEPARTMENT
        where DEPT_ID = #{deptId,jdbcType=NVARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from TSSO_DEPARTMENT
    where DEPT_ID = #{deptId,jdbcType=NVARCHAR}
  </delete>
    <insert id="insert" parameterType="com.jb4dc.sso.dbentities.department.DepartmentEntity">
    insert into TSSO_DEPARTMENT (DEPT_ID, DEPT_NAME, DEPT_SHORT_NAME,
      DEPT_NO, DEPT_PER_CHARGE, DEPT_PER_CHARGE_PHONE,
      DEPT_IS_VIRTUAL, DEPT_CHILD_COUNT, DEPT_CREATE_TIME,
      DEPT_CREATOR_ID, DEPT_ORDER_NUM, DEPT_IS_ROOT,
      DEPT_PARENT_ID, DEPT_PARENT_ID_LIST, DEPT_STATUS,
      DEPT_ORGAN_ID, DEPT_DESC)
    values (#{deptId,jdbcType=NVARCHAR}, #{deptName,jdbcType=NVARCHAR}, #{deptShortName,jdbcType=NVARCHAR},
      #{deptNo,jdbcType=NVARCHAR}, #{deptPerCharge,jdbcType=NVARCHAR}, #{deptPerChargePhone,jdbcType=NVARCHAR},
      #{deptIsVirtual,jdbcType=NVARCHAR}, #{deptChildCount,jdbcType=INTEGER}, #{deptCreateTime,jdbcType=TIMESTAMP},
      #{deptCreatorId,jdbcType=NVARCHAR}, #{deptOrderNum,jdbcType=INTEGER}, #{deptIsRoot,jdbcType=NVARCHAR},
      #{deptParentId,jdbcType=NVARCHAR}, #{deptParentIdList,jdbcType=NVARCHAR}, #{deptStatus,jdbcType=NVARCHAR},
      #{deptOrganId,jdbcType=NVARCHAR}, #{deptDesc,jdbcType=NVARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.jb4dc.sso.dbentities.department.DepartmentEntity">
        insert into TSSO_DEPARTMENT
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deptId != null">
                DEPT_ID,
            </if>
            <if test="deptName != null">
                DEPT_NAME,
            </if>
            <if test="deptShortName != null">
                DEPT_SHORT_NAME,
            </if>
            <if test="deptNo != null">
                DEPT_NO,
            </if>
            <if test="deptPerCharge != null">
                DEPT_PER_CHARGE,
            </if>
            <if test="deptPerChargePhone != null">
                DEPT_PER_CHARGE_PHONE,
            </if>
            <if test="deptIsVirtual != null">
                DEPT_IS_VIRTUAL,
            </if>
            <if test="deptChildCount != null">
                DEPT_CHILD_COUNT,
            </if>
            <if test="deptCreateTime != null">
                DEPT_CREATE_TIME,
            </if>
            <if test="deptCreatorId != null">
                DEPT_CREATOR_ID,
            </if>
            <if test="deptOrderNum != null">
                DEPT_ORDER_NUM,
            </if>
            <if test="deptIsRoot != null">
                DEPT_IS_ROOT,
            </if>
            <if test="deptParentId != null">
                DEPT_PARENT_ID,
            </if>
            <if test="deptParentIdList != null">
                DEPT_PARENT_ID_LIST,
            </if>
            <if test="deptStatus != null">
                DEPT_STATUS,
            </if>
            <if test="deptOrganId != null">
                DEPT_ORGAN_ID,
            </if>
            <if test="deptDesc != null">
                DEPT_DESC,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deptId != null">
                #{deptId,jdbcType=NVARCHAR},
            </if>
            <if test="deptName != null">
                #{deptName,jdbcType=NVARCHAR},
            </if>
            <if test="deptShortName != null">
                #{deptShortName,jdbcType=NVARCHAR},
            </if>
            <if test="deptNo != null">
                #{deptNo,jdbcType=NVARCHAR},
            </if>
            <if test="deptPerCharge != null">
                #{deptPerCharge,jdbcType=NVARCHAR},
            </if>
            <if test="deptPerChargePhone != null">
                #{deptPerChargePhone,jdbcType=NVARCHAR},
            </if>
            <if test="deptIsVirtual != null">
                #{deptIsVirtual,jdbcType=NVARCHAR},
            </if>
            <if test="deptChildCount != null">
                #{deptChildCount,jdbcType=INTEGER},
            </if>
            <if test="deptCreateTime != null">
                #{deptCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deptCreatorId != null">
                #{deptCreatorId,jdbcType=NVARCHAR},
            </if>
            <if test="deptOrderNum != null">
                #{deptOrderNum,jdbcType=INTEGER},
            </if>
            <if test="deptIsRoot != null">
                #{deptIsRoot,jdbcType=NVARCHAR},
            </if>
            <if test="deptParentId != null">
                #{deptParentId,jdbcType=NVARCHAR},
            </if>
            <if test="deptParentIdList != null">
                #{deptParentIdList,jdbcType=NVARCHAR},
            </if>
            <if test="deptStatus != null">
                #{deptStatus,jdbcType=NVARCHAR},
            </if>
            <if test="deptOrganId != null">
                #{deptOrganId,jdbcType=NVARCHAR},
            </if>
            <if test="deptDesc != null">
                #{deptDesc,jdbcType=NVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jb4dc.sso.dbentities.department.DepartmentEntity">
        update TSSO_DEPARTMENT
        <set>
            <if test="deptName != null">
                DEPT_NAME = #{deptName,jdbcType=NVARCHAR},
            </if>
            <if test="deptShortName != null">
                DEPT_SHORT_NAME = #{deptShortName,jdbcType=NVARCHAR},
            </if>
            <if test="deptNo != null">
                DEPT_NO = #{deptNo,jdbcType=NVARCHAR},
            </if>
            <if test="deptPerCharge != null">
                DEPT_PER_CHARGE = #{deptPerCharge,jdbcType=NVARCHAR},
            </if>
            <if test="deptPerChargePhone != null">
                DEPT_PER_CHARGE_PHONE = #{deptPerChargePhone,jdbcType=NVARCHAR},
            </if>
            <if test="deptIsVirtual != null">
                DEPT_IS_VIRTUAL = #{deptIsVirtual,jdbcType=NVARCHAR},
            </if>
            <if test="deptChildCount != null">
                DEPT_CHILD_COUNT = #{deptChildCount,jdbcType=INTEGER},
            </if>
            <if test="deptCreateTime != null">
                DEPT_CREATE_TIME = #{deptCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deptCreatorId != null">
                DEPT_CREATOR_ID = #{deptCreatorId,jdbcType=NVARCHAR},
            </if>
            <if test="deptOrderNum != null">
                DEPT_ORDER_NUM = #{deptOrderNum,jdbcType=INTEGER},
            </if>
            <if test="deptIsRoot != null">
                DEPT_IS_ROOT = #{deptIsRoot,jdbcType=NVARCHAR},
            </if>
            <if test="deptParentId != null">
                DEPT_PARENT_ID = #{deptParentId,jdbcType=NVARCHAR},
            </if>
            <if test="deptParentIdList != null">
                DEPT_PARENT_ID_LIST = #{deptParentIdList,jdbcType=NVARCHAR},
            </if>
            <if test="deptStatus != null">
                DEPT_STATUS = #{deptStatus,jdbcType=NVARCHAR},
            </if>
            <if test="deptOrganId != null">
                DEPT_ORGAN_ID = #{deptOrganId,jdbcType=NVARCHAR},
            </if>
            <if test="deptDesc != null">
                DEPT_DESC = #{deptDesc,jdbcType=NVARCHAR},
            </if>
        </set>
        where DEPT_ID = #{deptId,jdbcType=NVARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jb4dc.sso.dbentities.department.DepartmentEntity">
    update TSSO_DEPARTMENT
    set DEPT_NAME = #{deptName,jdbcType=NVARCHAR},
      DEPT_SHORT_NAME = #{deptShortName,jdbcType=NVARCHAR},
      DEPT_NO = #{deptNo,jdbcType=NVARCHAR},
      DEPT_PER_CHARGE = #{deptPerCharge,jdbcType=NVARCHAR},
      DEPT_PER_CHARGE_PHONE = #{deptPerChargePhone,jdbcType=NVARCHAR},
      DEPT_IS_VIRTUAL = #{deptIsVirtual,jdbcType=NVARCHAR},
      DEPT_CHILD_COUNT = #{deptChildCount,jdbcType=INTEGER},
      DEPT_CREATE_TIME = #{deptCreateTime,jdbcType=TIMESTAMP},
      DEPT_CREATOR_ID = #{deptCreatorId,jdbcType=NVARCHAR},
      DEPT_ORDER_NUM = #{deptOrderNum,jdbcType=INTEGER},
      DEPT_IS_ROOT = #{deptIsRoot,jdbcType=NVARCHAR},
      DEPT_PARENT_ID = #{deptParentId,jdbcType=NVARCHAR},
      DEPT_PARENT_ID_LIST = #{deptParentIdList,jdbcType=NVARCHAR},
      DEPT_STATUS = #{deptStatus,jdbcType=NVARCHAR},
      DEPT_ORGAN_ID = #{deptOrganId,jdbcType=NVARCHAR},
      DEPT_DESC = #{deptDesc,jdbcType=NVARCHAR}
    where DEPT_ID = #{deptId,jdbcType=NVARCHAR}
  </update>
</mapper>