<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jb4dc.sso.dao.user.UserMapper">
    <resultMap id="BaseResultMap" type="com.jb4dc.sso.dbentities.user.UserEntity">
        <constructor>
            <idArg column="USER_ID" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="USER_NAME" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="USER_ACCOUNT" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="USER_PASSWORD" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="USER_EMAIL" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="USER_PHONE_NUMBER" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="USER_HEAD_ID" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="USER_ORGAN_ID" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="USER_DESC" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="USER_CREATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
            <arg column="USER_CREATOR_ID" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="USER_STATUS" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="USER_ORDER_NUM" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="USER_TYPE" javaType="java.lang.String" jdbcType="NVARCHAR" />
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    USER_ID, USER_NAME, USER_ACCOUNT, USER_PASSWORD, USER_EMAIL, USER_PHONE_NUMBER, USER_HEAD_ID,
    USER_ORGAN_ID, USER_DESC, USER_CREATE_TIME, USER_CREATOR_ID, USER_STATUS, USER_ORDER_NUM,
    USER_TYPE
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from TSSO_USER
        where USER_ID = #{userId,jdbcType=NVARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from TSSO_USER
    where USER_ID = #{userId,jdbcType=NVARCHAR}
  </delete>
    <insert id="insert" parameterType="com.jb4dc.sso.dbentities.user.UserEntity">
    insert into TSSO_USER (USER_ID, USER_NAME, USER_ACCOUNT,
      USER_PASSWORD, USER_EMAIL, USER_PHONE_NUMBER,
      USER_HEAD_ID, USER_ORGAN_ID, USER_DESC,
      USER_CREATE_TIME, USER_CREATOR_ID, USER_STATUS,
      USER_ORDER_NUM, USER_TYPE)
    values (#{userId,jdbcType=NVARCHAR}, #{userName,jdbcType=NVARCHAR}, #{userAccount,jdbcType=NVARCHAR},
      #{userPassword,jdbcType=NVARCHAR}, #{userEmail,jdbcType=NVARCHAR}, #{userPhoneNumber,jdbcType=NVARCHAR},
      #{userHeadId,jdbcType=NVARCHAR}, #{userOrganId,jdbcType=NVARCHAR}, #{userDesc,jdbcType=NVARCHAR},
      #{userCreateTime,jdbcType=TIMESTAMP}, #{userCreatorId,jdbcType=NVARCHAR}, #{userStatus,jdbcType=NVARCHAR},
      #{userOrderNum,jdbcType=INTEGER}, #{userType,jdbcType=NVARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.jb4dc.sso.dbentities.user.UserEntity">
        insert into TSSO_USER
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                USER_ID,
            </if>
            <if test="userName != null">
                USER_NAME,
            </if>
            <if test="userAccount != null">
                USER_ACCOUNT,
            </if>
            <if test="userPassword != null">
                USER_PASSWORD,
            </if>
            <if test="userEmail != null">
                USER_EMAIL,
            </if>
            <if test="userPhoneNumber != null">
                USER_PHONE_NUMBER,
            </if>
            <if test="userHeadId != null">
                USER_HEAD_ID,
            </if>
            <if test="userOrganId != null">
                USER_ORGAN_ID,
            </if>
            <if test="userDesc != null">
                USER_DESC,
            </if>
            <if test="userCreateTime != null">
                USER_CREATE_TIME,
            </if>
            <if test="userCreatorId != null">
                USER_CREATOR_ID,
            </if>
            <if test="userStatus != null">
                USER_STATUS,
            </if>
            <if test="userOrderNum != null">
                USER_ORDER_NUM,
            </if>
            <if test="userType != null">
                USER_TYPE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=NVARCHAR},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=NVARCHAR},
            </if>
            <if test="userAccount != null">
                #{userAccount,jdbcType=NVARCHAR},
            </if>
            <if test="userPassword != null">
                #{userPassword,jdbcType=NVARCHAR},
            </if>
            <if test="userEmail != null">
                #{userEmail,jdbcType=NVARCHAR},
            </if>
            <if test="userPhoneNumber != null">
                #{userPhoneNumber,jdbcType=NVARCHAR},
            </if>
            <if test="userHeadId != null">
                #{userHeadId,jdbcType=NVARCHAR},
            </if>
            <if test="userOrganId != null">
                #{userOrganId,jdbcType=NVARCHAR},
            </if>
            <if test="userDesc != null">
                #{userDesc,jdbcType=NVARCHAR},
            </if>
            <if test="userCreateTime != null">
                #{userCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="userCreatorId != null">
                #{userCreatorId,jdbcType=NVARCHAR},
            </if>
            <if test="userStatus != null">
                #{userStatus,jdbcType=NVARCHAR},
            </if>
            <if test="userOrderNum != null">
                #{userOrderNum,jdbcType=INTEGER},
            </if>
            <if test="userType != null">
                #{userType,jdbcType=NVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jb4dc.sso.dbentities.user.UserEntity">
        update TSSO_USER
        <set>
            <if test="userName != null">
                USER_NAME = #{userName,jdbcType=NVARCHAR},
            </if>
            <if test="userAccount != null">
                USER_ACCOUNT = #{userAccount,jdbcType=NVARCHAR},
            </if>
            <if test="userPassword != null">
                USER_PASSWORD = #{userPassword,jdbcType=NVARCHAR},
            </if>
            <if test="userEmail != null">
                USER_EMAIL = #{userEmail,jdbcType=NVARCHAR},
            </if>
            <if test="userPhoneNumber != null">
                USER_PHONE_NUMBER = #{userPhoneNumber,jdbcType=NVARCHAR},
            </if>
            <if test="userHeadId != null">
                USER_HEAD_ID = #{userHeadId,jdbcType=NVARCHAR},
            </if>
            <if test="userOrganId != null">
                USER_ORGAN_ID = #{userOrganId,jdbcType=NVARCHAR},
            </if>
            <if test="userDesc != null">
                USER_DESC = #{userDesc,jdbcType=NVARCHAR},
            </if>
            <if test="userCreateTime != null">
                USER_CREATE_TIME = #{userCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="userCreatorId != null">
                USER_CREATOR_ID = #{userCreatorId,jdbcType=NVARCHAR},
            </if>
            <if test="userStatus != null">
                USER_STATUS = #{userStatus,jdbcType=NVARCHAR},
            </if>
            <if test="userOrderNum != null">
                USER_ORDER_NUM = #{userOrderNum,jdbcType=INTEGER},
            </if>
            <if test="userType != null">
                USER_TYPE = #{userType,jdbcType=NVARCHAR},
            </if>
        </set>
        where USER_ID = #{userId,jdbcType=NVARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jb4dc.sso.dbentities.user.UserEntity">
    update TSSO_USER
    set USER_NAME = #{userName,jdbcType=NVARCHAR},
      USER_ACCOUNT = #{userAccount,jdbcType=NVARCHAR},
      USER_PASSWORD = #{userPassword,jdbcType=NVARCHAR},
      USER_EMAIL = #{userEmail,jdbcType=NVARCHAR},
      USER_PHONE_NUMBER = #{userPhoneNumber,jdbcType=NVARCHAR},
      USER_HEAD_ID = #{userHeadId,jdbcType=NVARCHAR},
      USER_ORGAN_ID = #{userOrganId,jdbcType=NVARCHAR},
      USER_DESC = #{userDesc,jdbcType=NVARCHAR},
      USER_CREATE_TIME = #{userCreateTime,jdbcType=TIMESTAMP},
      USER_CREATOR_ID = #{userCreatorId,jdbcType=NVARCHAR},
      USER_STATUS = #{userStatus,jdbcType=NVARCHAR},
      USER_ORDER_NUM = #{userOrderNum,jdbcType=INTEGER},
      USER_TYPE = #{userType,jdbcType=NVARCHAR}
    where USER_ID = #{userId,jdbcType=NVARCHAR}
  </update>
</mapper>