<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jb4dc.sso.dao.application.SsoAppFileMapper">
    <resultMap id="BaseResultMap" type="com.jb4dc.sso.dbentities.application.SsoAppFileEntity">
        <constructor>
            <idArg column="APP_FILE_ID" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="APP_BELONG_APP_ID" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="APP_FILE_NAME" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="APP_FILE_IS_MAIN" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="APP_FILE_DESC" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="APP_FILE_ORDER_NUM" javaType="java.lang.Integer" jdbcType="INTEGER" />
            <arg column="APP_FILE_CREATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
            <arg column="APP_FILE_STATUS" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="APP_FILE_CREATOR_ID" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="APP_FILE_ORGAN_ID" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="APP_FILE_CNT_FILE_ID" javaType="java.lang.String" jdbcType="NVARCHAR" />
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    APP_FILE_ID, APP_BELONG_APP_ID, APP_FILE_NAME, APP_FILE_IS_MAIN, APP_FILE_DESC, APP_FILE_ORDER_NUM,
    APP_FILE_CREATE_TIME, APP_FILE_STATUS, APP_FILE_CREATOR_ID, APP_FILE_ORGAN_ID, APP_FILE_CNT_FILE_ID
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from TSSO_SSO_APP_FILE
        where APP_FILE_ID = #{appFileId,jdbcType=NVARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from TSSO_SSO_APP_FILE
    where APP_FILE_ID = #{appFileId,jdbcType=NVARCHAR}
  </delete>
    <insert id="insert" parameterType="com.jb4dc.sso.dbentities.application.SsoAppFileEntity">
    insert into TSSO_SSO_APP_FILE (APP_FILE_ID, APP_BELONG_APP_ID, APP_FILE_NAME,
      APP_FILE_IS_MAIN, APP_FILE_DESC, APP_FILE_ORDER_NUM,
      APP_FILE_CREATE_TIME, APP_FILE_STATUS, APP_FILE_CREATOR_ID,
      APP_FILE_ORGAN_ID, APP_FILE_CNT_FILE_ID)
    values (#{appFileId,jdbcType=NVARCHAR}, #{appBelongAppId,jdbcType=NVARCHAR}, #{appFileName,jdbcType=NVARCHAR},
      #{appFileIsMain,jdbcType=NVARCHAR}, #{appFileDesc,jdbcType=NVARCHAR}, #{appFileOrderNum,jdbcType=INTEGER},
      #{appFileCreateTime,jdbcType=TIMESTAMP}, #{appFileStatus,jdbcType=NVARCHAR}, #{appFileCreatorId,jdbcType=NVARCHAR},
      #{appFileOrganId,jdbcType=NVARCHAR}, #{appFileCntFileId,jdbcType=NVARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.jb4dc.sso.dbentities.application.SsoAppFileEntity">
        insert into TSSO_SSO_APP_FILE
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="appFileId != null">
                APP_FILE_ID,
            </if>
            <if test="appBelongAppId != null">
                APP_BELONG_APP_ID,
            </if>
            <if test="appFileName != null">
                APP_FILE_NAME,
            </if>
            <if test="appFileIsMain != null">
                APP_FILE_IS_MAIN,
            </if>
            <if test="appFileDesc != null">
                APP_FILE_DESC,
            </if>
            <if test="appFileOrderNum != null">
                APP_FILE_ORDER_NUM,
            </if>
            <if test="appFileCreateTime != null">
                APP_FILE_CREATE_TIME,
            </if>
            <if test="appFileStatus != null">
                APP_FILE_STATUS,
            </if>
            <if test="appFileCreatorId != null">
                APP_FILE_CREATOR_ID,
            </if>
            <if test="appFileOrganId != null">
                APP_FILE_ORGAN_ID,
            </if>
            <if test="appFileCntFileId != null">
                APP_FILE_CNT_FILE_ID,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="appFileId != null">
                #{appFileId,jdbcType=NVARCHAR},
            </if>
            <if test="appBelongAppId != null">
                #{appBelongAppId,jdbcType=NVARCHAR},
            </if>
            <if test="appFileName != null">
                #{appFileName,jdbcType=NVARCHAR},
            </if>
            <if test="appFileIsMain != null">
                #{appFileIsMain,jdbcType=NVARCHAR},
            </if>
            <if test="appFileDesc != null">
                #{appFileDesc,jdbcType=NVARCHAR},
            </if>
            <if test="appFileOrderNum != null">
                #{appFileOrderNum,jdbcType=INTEGER},
            </if>
            <if test="appFileCreateTime != null">
                #{appFileCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="appFileStatus != null">
                #{appFileStatus,jdbcType=NVARCHAR},
            </if>
            <if test="appFileCreatorId != null">
                #{appFileCreatorId,jdbcType=NVARCHAR},
            </if>
            <if test="appFileOrganId != null">
                #{appFileOrganId,jdbcType=NVARCHAR},
            </if>
            <if test="appFileCntFileId != null">
                #{appFileCntFileId,jdbcType=NVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jb4dc.sso.dbentities.application.SsoAppFileEntity">
        update TSSO_SSO_APP_FILE
        <set>
            <if test="appBelongAppId != null">
                APP_BELONG_APP_ID = #{appBelongAppId,jdbcType=NVARCHAR},
            </if>
            <if test="appFileName != null">
                APP_FILE_NAME = #{appFileName,jdbcType=NVARCHAR},
            </if>
            <if test="appFileIsMain != null">
                APP_FILE_IS_MAIN = #{appFileIsMain,jdbcType=NVARCHAR},
            </if>
            <if test="appFileDesc != null">
                APP_FILE_DESC = #{appFileDesc,jdbcType=NVARCHAR},
            </if>
            <if test="appFileOrderNum != null">
                APP_FILE_ORDER_NUM = #{appFileOrderNum,jdbcType=INTEGER},
            </if>
            <if test="appFileCreateTime != null">
                APP_FILE_CREATE_TIME = #{appFileCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="appFileStatus != null">
                APP_FILE_STATUS = #{appFileStatus,jdbcType=NVARCHAR},
            </if>
            <if test="appFileCreatorId != null">
                APP_FILE_CREATOR_ID = #{appFileCreatorId,jdbcType=NVARCHAR},
            </if>
            <if test="appFileOrganId != null">
                APP_FILE_ORGAN_ID = #{appFileOrganId,jdbcType=NVARCHAR},
            </if>
            <if test="appFileCntFileId != null">
                APP_FILE_CNT_FILE_ID = #{appFileCntFileId,jdbcType=NVARCHAR},
            </if>
        </set>
        where APP_FILE_ID = #{appFileId,jdbcType=NVARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jb4dc.sso.dbentities.application.SsoAppFileEntity">
    update TSSO_SSO_APP_FILE
    set APP_BELONG_APP_ID = #{appBelongAppId,jdbcType=NVARCHAR},
      APP_FILE_NAME = #{appFileName,jdbcType=NVARCHAR},
      APP_FILE_IS_MAIN = #{appFileIsMain,jdbcType=NVARCHAR},
      APP_FILE_DESC = #{appFileDesc,jdbcType=NVARCHAR},
      APP_FILE_ORDER_NUM = #{appFileOrderNum,jdbcType=INTEGER},
      APP_FILE_CREATE_TIME = #{appFileCreateTime,jdbcType=TIMESTAMP},
      APP_FILE_STATUS = #{appFileStatus,jdbcType=NVARCHAR},
      APP_FILE_CREATOR_ID = #{appFileCreatorId,jdbcType=NVARCHAR},
      APP_FILE_ORGAN_ID = #{appFileOrganId,jdbcType=NVARCHAR},
      APP_FILE_CNT_FILE_ID = #{appFileCntFileId,jdbcType=NVARCHAR}
    where APP_FILE_ID = #{appFileId,jdbcType=NVARCHAR}
  </update>
</mapper>