<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jb4dc.sso.dao.application.SsoAppUserMappingMapper">
    <resultMap id="BaseResultMap" type="com.jb4dc.sso.dbentities.application.SsoAppUserMappingEntity">
        <constructor>
            <idArg column="MAPPING_ID" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="MAPPING_BELONG_APP_ID" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="MAPPING_ACCOUNT" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="MAPPING_PASSWORD" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="MAPPING_CREATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
            <arg column="MAPPING_CREATOR_ID" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="MAPPING_ORGAN_ID" javaType="java.lang.String" jdbcType="NVARCHAR" />
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    MAPPING_ID, MAPPING_BELONG_APP_ID, MAPPING_ACCOUNT, MAPPING_PASSWORD, MAPPING_CREATE_TIME,
    MAPPING_CREATOR_ID, MAPPING_ORGAN_ID
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from TSSO_SSO_APP_USER_MAPPING
        where MAPPING_ID = #{mappingId,jdbcType=NVARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from TSSO_SSO_APP_USER_MAPPING
    where MAPPING_ID = #{mappingId,jdbcType=NVARCHAR}
  </delete>
    <insert id="insert" parameterType="com.jb4dc.sso.dbentities.application.SsoAppUserMappingEntity">
    insert into TSSO_SSO_APP_USER_MAPPING (MAPPING_ID, MAPPING_BELONG_APP_ID,
      MAPPING_ACCOUNT, MAPPING_PASSWORD, MAPPING_CREATE_TIME,
      MAPPING_CREATOR_ID, MAPPING_ORGAN_ID)
    values (#{mappingId,jdbcType=NVARCHAR}, #{mappingBelongAppId,jdbcType=NVARCHAR},
      #{mappingAccount,jdbcType=NVARCHAR}, #{mappingPassword,jdbcType=NVARCHAR}, #{mappingCreateTime,jdbcType=TIMESTAMP},
      #{mappingCreatorId,jdbcType=NVARCHAR}, #{mappingOrganId,jdbcType=NVARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.jb4dc.sso.dbentities.application.SsoAppUserMappingEntity">
        insert into TSSO_SSO_APP_USER_MAPPING
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="mappingId != null">
                MAPPING_ID,
            </if>
            <if test="mappingBelongAppId != null">
                MAPPING_BELONG_APP_ID,
            </if>
            <if test="mappingAccount != null">
                MAPPING_ACCOUNT,
            </if>
            <if test="mappingPassword != null">
                MAPPING_PASSWORD,
            </if>
            <if test="mappingCreateTime != null">
                MAPPING_CREATE_TIME,
            </if>
            <if test="mappingCreatorId != null">
                MAPPING_CREATOR_ID,
            </if>
            <if test="mappingOrganId != null">
                MAPPING_ORGAN_ID,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="mappingId != null">
                #{mappingId,jdbcType=NVARCHAR},
            </if>
            <if test="mappingBelongAppId != null">
                #{mappingBelongAppId,jdbcType=NVARCHAR},
            </if>
            <if test="mappingAccount != null">
                #{mappingAccount,jdbcType=NVARCHAR},
            </if>
            <if test="mappingPassword != null">
                #{mappingPassword,jdbcType=NVARCHAR},
            </if>
            <if test="mappingCreateTime != null">
                #{mappingCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="mappingCreatorId != null">
                #{mappingCreatorId,jdbcType=NVARCHAR},
            </if>
            <if test="mappingOrganId != null">
                #{mappingOrganId,jdbcType=NVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jb4dc.sso.dbentities.application.SsoAppUserMappingEntity">
        update TSSO_SSO_APP_USER_MAPPING
        <set>
            <if test="mappingBelongAppId != null">
                MAPPING_BELONG_APP_ID = #{mappingBelongAppId,jdbcType=NVARCHAR},
            </if>
            <if test="mappingAccount != null">
                MAPPING_ACCOUNT = #{mappingAccount,jdbcType=NVARCHAR},
            </if>
            <if test="mappingPassword != null">
                MAPPING_PASSWORD = #{mappingPassword,jdbcType=NVARCHAR},
            </if>
            <if test="mappingCreateTime != null">
                MAPPING_CREATE_TIME = #{mappingCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="mappingCreatorId != null">
                MAPPING_CREATOR_ID = #{mappingCreatorId,jdbcType=NVARCHAR},
            </if>
            <if test="mappingOrganId != null">
                MAPPING_ORGAN_ID = #{mappingOrganId,jdbcType=NVARCHAR},
            </if>
        </set>
        where MAPPING_ID = #{mappingId,jdbcType=NVARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jb4dc.sso.dbentities.application.SsoAppUserMappingEntity">
    update TSSO_SSO_APP_USER_MAPPING
    set MAPPING_BELONG_APP_ID = #{mappingBelongAppId,jdbcType=NVARCHAR},
      MAPPING_ACCOUNT = #{mappingAccount,jdbcType=NVARCHAR},
      MAPPING_PASSWORD = #{mappingPassword,jdbcType=NVARCHAR},
      MAPPING_CREATE_TIME = #{mappingCreateTime,jdbcType=TIMESTAMP},
      MAPPING_CREATOR_ID = #{mappingCreatorId,jdbcType=NVARCHAR},
      MAPPING_ORGAN_ID = #{mappingOrganId,jdbcType=NVARCHAR}
    where MAPPING_ID = #{mappingId,jdbcType=NVARCHAR}
  </update>
</mapper>