<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="Fragment/GeneralLib::GeneralLib"></th:block>
    <th:block th:replace="Fragment/GeneralLib::ThemesLib"></th:block>
    <th:block th:replace="Fragment/GeneralLib::ZTreeExtendLib"></th:block>
</head>
<body>
    <div id="appForm" class="general-edit-page-wrap" style="margin-top: 0px" v-cloak>
        <div class="list-2column">
            <div class="left-outer-wrap" style="bottom: 50px">
                <div class="inner-wrap" style="width: 250px;">
                    <div>
                        <ul id="zSystemTreeUL" class="ztree"></ul>
                    </div>
                </div>
            </div>
            <div class="right-outer-wrap" style="padding: 10px;left: 260px;bottom: 50px">
                <tabs v-model="selectedTabName">
                    <tab-pane label="菜单权限" name="Menu">
                        <div id="divTreeTable" style="width: 98%;margin: auto">
                            <ul id="zMenuTreeUL" class="ztree"></ul>
                        </div>
                    </tab-pane>
                    <tab-pane label="操作权限" name="Operation">
                    </tab-pane>
                </tabs>
            </div>
        </div>

        <div class="button-outer-wrap">
            <div class="button-inner-wrap">
                <button-group>
                    <i-button type="primary" @click="handleSubmit()" icon="md-checkmark">保存</i-button>
                    <i-button @click="handleClose()" icon="md-close">关闭</i-button>
                </button-group>
            </div>
        </div>
    </div>
    <script>
        var appForm =new Vue({
            el: "#appForm",
            mounted:function () {
                this.initSystemTree();
            },
            data: {
                acInterface:{
                    <!--System-->
                    getSystemTreeData:"/Rest/SSO/App/Application/GetAllMainSsoApp",
                    <!--Menu-->
                    getMenusDataBySystemId:"/Rest/SSO/Mu/Menu/GetMenusBySystemId",
                    <!--Auth-->
                    saveOwnerAuth:"/Rest/SSO/Auth/Authority/SaveOwnerAuth"
                },
                systemTree:{
                    treeObj:null,
                    treeSelectedNode:null,
                    treeSetting:{
                        view: {
                            dblClickExpand: false,//双击节点时，是否自动展开父节点的标识
                            showLine: true,//是否显示节点之间的连线
                            fontCss: {'color': 'black', 'font-weight': 'normal'}
                        },
                        check: {
                            enable: true,
                            nocheckInherit: false,
                            radioType: "all"
                        },
                        // 必须使用data
                        data:{
                            key:{
                                name:"appName"
                            },
                            simpleData : {
                                enable : true,
                                idKey : "appId", // id编号命名
                                pIdKey : "appMainId",  // 父id编号命名
                                rootId : 0
                            }
                        },
                        // 回调函数
                        callback : {
                            onClick : function(event, treeId, treeNode) {
                                // 根节点不触发任何事件
                                //if(treeNode.level != 0) {
                                appForm.systemTree.treeSelectedNode=treeNode;
                                appForm.reloadMenuTreeData();
                                //}
                            },
                            //成功的回调函数
                            onAsyncSuccess : function(event, treeId, treeNode, msg){
                                //appForm.treeObj.expandAll(true);
                            },
                            onCheck:function (event, treeId, treeNode) {
                                appForm.changeSaveAuthEntities();
                            }
                        }
                    }
                },
                menuTree:{
                    treeObj:null,
                    treeSelectedNode:null,
                    treeSetting:{
                        view: {
                            dblClickExpand: false,//双击节点时，是否自动展开父节点的标识
                            showLine: true,//是否显示节点之间的连线
                            fontCss: {'color': 'black', 'font-weight': 'normal'}
                        },
                        check: {
                            enable: true,
                            nocheckInherit: true,
                            radioType: "all",
                            chkboxType: { "Y": "ps", "N": "ps" }
                        },
                        // 必须使用data
                        data:{
                            key:{
                                name:"menuName"
                            },
                            simpleData : {
                                enable : true,
                                idKey : "menuId", // id编号命名
                                pIdKey : "menuParentId",  // 父id编号命名
                                rootId : 0
                            }
                        },
                        // 回调函数
                        callback : {
                            onClick : function(event, treeId, treeNode) {
                                // 根节点不触发任何事件
                                //if(treeNode.level != 0) {
                                appForm.systemTree.treeSelectedNode=treeNode;
                                appForm.reloadMenuTreeData();
                                //}
                            },
                            //成功的回调函数
                            onAsyncSuccess : function(event, treeId, treeNode, msg){
                                //appList.treeObj.expandAll(true);
                            },
                            onCheck:function (event, treeId, treeNode) {
                                appForm.changeSaveAuthEntities();
                            }
                        }
                    }
                },
                saveAuthEntities:[/*{
                    authId:"",
                    authObjId:"",
                    authObjType:"",
                    authOwnerId:"",
                    authOwnerType:"",
                    authSystemId:"",
                    authCreatorId:"",
                    authCreatorOrganId:"",
                    authOrganId:"",
                    authDesc:""
                }*/],
                removeAuthObjIdList:[],
                selectedTabName:"Menu",
                authObjType:{
                    system:"System",
                    menu:"Menu"
                }
            },
            methods: {
                initSystemTree:function () {
                    AjaxUtility.Post(this.acInterface.getSystemTreeData, {}, function (result) {
                        if (result.success) {
                            var treeData = result.data;
                            for (var i = 0; i < treeData.length; i++) {
                                treeData[i].icon = "../../../Themes/Png16X16/computer-link.png";
                            }
                            //console.log(treeData);
                            //_self.$refs.tableZTreeUL.setAttribute("id","select-table-single-comp-"+StringUtility.Guid());
                            this.systemTree.treeObj = $.fn.zTree.init($("#zSystemTreeUL"), this.systemTree.treeSetting, treeData);
                            this.systemTree.treeObj.expandAll(true);
                            this.systemTree.treeObj._host=this;
                        }
                    },this);
                },
                reloadMenuTreeData:function(){
                    var systemId=this.systemTree.treeSelectedNode.appId;
                    //this.saveAuthData.cleanAboutKey=systemId
                    AjaxUtility.Post(this.acInterface.getMenusDataBySystemId, {"systemId":systemId}, function (result) {
                        if (result.success) {
                            var treeData = result.data;
                            //console.log(treeData);
                            for (var i = 0; i < treeData.length; i++) {
                                treeData[i].icon = "../../../Themes/Png16X16/document_letter_okay.png";
                            }
                            this.menuTree.treeObj = $.fn.zTree.init($("#zMenuTreeUL"), this.menuTree.treeSetting, treeData);
                            this.menuTree.treeObj.expandAll(true);
                            this.menuTree.treeObj._host=this;
                        }
                    },this);
                },
                resetSaveAuthObjIdList:function(){
                    this.saveAuthEntities=[];
                },
                authObjIdIsInSaveAuthEntities:function(authObjId){
                    for(var o=0;o<this.saveAuthEntities.length;o++) {
                        if(this.saveAuthEntities[o].authObjId==authObjId){
                            return true;
                        }
                    }
                    return false;
                },
                changeSaveAuthEntities:function(){
                    //根据系统树重新构建实体
                    //获取选中的系统
                    /*for(var i=this.saveAuthEntities.length-1;i>=0;i--){
                        if(this.saveAuthEntities[i].authObjType==this.authObjType.system){
                            //删除掉所有系统权限记录
                            ArrayUtility.Delete(this.saveAuthEntities,i);
                        }
                    }*/
                    var noCheckedSystemNodes=this.systemTree.treeObj.getCheckedNodes(false);
                    for(var i=0;i<noCheckedSystemNodes.length;i++){
                        var noCheckedSystemNode=noCheckedSystemNodes[i];
                        this.removeAuthObjIdList.push(noCheckedSystemNode.appId);
                    }

                    var checkedSystemNodes=this.systemTree.treeObj.getCheckedNodes(true);
                    for(var i=0;i<checkedSystemNodes.length;i++){
                        var checkedSystemNode=checkedSystemNodes[i];
                        if(!this.authObjIdIsInSaveAuthEntities(checkedSystemNode.appId)) {
                            this.saveAuthEntities.push({
                                authId: StringUtility.Guid() + "-" + i,
                                authObjId: checkedSystemNode.appId,
                                authObjType: this.authObjType.system,
                                authSystemId: checkedSystemNode.appId
                            });
                        }
                    }

                    //获取选中的菜单
                    if(this.menuTree.treeObj){
                        var currentMenuTreeALLNodes= this.menuTree.treeObj.transformToArray(this.menuTree.treeObj.getNodes());
                        for(var i=0;i<currentMenuTreeALLNodes.length;i++) {
                            this.removeAuthObjIdList.push(currentMenuTreeALLNodes[i].menuId);
                        }
                        //删除掉所有的该系统的菜单,重新从树选中中获取数据
                        var checkedMenuNodes = this.menuTree.treeObj.getCheckedNodes(true);
                        if(checkedMenuNodes!=null&&checkedMenuNodes.length>0) {
                            var menuBelongSystemId=currentMenuTreeALLNodes[0].menuSystemId;
                            for(var i=this.saveAuthEntities.length-1;i>=0;i--){
                                if(this.saveAuthEntities[i].authObjType==this.authObjType.menu&&this.saveAuthEntities[i].authSystemId==menuBelongSystemId){
                                    ArrayUtility.Delete(this.saveAuthEntities,i);
                                }
                            }
                            for(var i=0;i<checkedMenuNodes.length;i++){
                                var checkedMenuNode=checkedMenuNodes[i];
                                if(!this.authObjIdIsInSaveAuthEntities(checkedMenuNode.menuId)) {
                                    this.saveAuthEntities.push({
                                        authId: StringUtility.Guid() + "-" + i,
                                        authObjId: checkedMenuNode.menuId,
                                        authObjType: this.authObjType.menu,
                                        authSystemId: menuBelongSystemId
                                    });
                                }
                            }
                        }
                    }
                },
                handleSubmit: function () {
                    var _self=this;
                    /*if(this.selectedTabName=="Menu"){
                        this.saveAuthData.authObjType="Menu";
                        if(this.systemTree.treeObj.getSelectedNodes().length==0){
                            return;
                        }
                        this.saveAuthData.systemId=this.systemTree.treeObj.getSelectedNodes()[0].appId;
                        //获取选中的系统
                        var checkedSystemNodes=this.systemTree.treeObj.getCheckedNodes(true);
                        //获取选中的菜单
                        var checkedMenuNodes=this.menuTree.treeObj.getCheckedNodes(true);
                        //console.log(checkedSystemNodes);
                        //console.log(checkedMenuNodes);
                        for(var i=0;i<checkedSystemNodes.length;i++){
                            var systemTreeNode=checkedSystemNodes[i];
                            this.saveAuthData.systemAuthObjIdList.push(systemTreeNode.appId);
                        }
                        for(var i=0;i<checkedMenuNodes.length;i++){
                            var menuTreeNode=checkedMenuNodes[i];
                            this.saveAuthData.menuAuthObjIdList.push(menuTreeNode.menuId);
                        }
                    }*/
                    //this.saveAuthData.authOwnerType=BaseUtility.GetUrlParaValue("auth_owner_type");
                    //this.saveAuthData.authOwnerId=BaseUtility.GetUrlParaValue("auth_owner_id");
                    AjaxUtility.Post(this.acInterface.saveOwnerAuth, {
                        authOwnerType:BaseUtility.GetUrlParaValue("auth_owner_type"),
                        authOwnerId:BaseUtility.GetUrlParaValue("auth_owner_id"),
                        saveAuthEntitiesJsonString:JsonUtility.JsonToString(this.saveAuthEntities),
                        removeAuthObjIdList:ArrayUtility.Unique(this.removeAuthObjIdList)
                    }, function (result) {
                        if (result.success) {
                            DialogUtility.AlertText(result.message);
                        }
                    }, this);
                },
                handleClose: function () {
                    DialogUtility.Frame_CloseDialog(window);
                }
            }
        });
    </script>
</body>
</html>