<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jb4dc.sso.dao.authority.AuthorityMapper">
    <resultMap id="BaseResultMap" type="com.jb4dc.sso.dbentities.authority.AuthorityEntity">
        <constructor>
            <idArg column="AUTH_ID" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="AUTH_OBJ_ID" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="AUTH_OBJ_TYPE" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="AUTH_OWNER_ID" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="AUTH_OWNER_TYPE" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="AUTH_CREATOR_ID" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="AUTH_CREATOR_ORGAN_ID" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="AUTH_ORGAN_ID" javaType="java.lang.String" jdbcType="NVARCHAR" />
            <arg column="AUTH_DESC" javaType="java.lang.String" jdbcType="NVARCHAR" />
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    AUTH_ID, AUTH_OBJ_ID, AUTH_OBJ_TYPE, AUTH_OWNER_ID, AUTH_OWNER_TYPE, AUTH_CREATOR_ID,
    AUTH_CREATOR_ORGAN_ID, AUTH_ORGAN_ID, AUTH_DESC
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from TSSO_AUTHORITY
        where AUTH_ID = #{authId,jdbcType=NVARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from TSSO_AUTHORITY
    where AUTH_ID = #{authId,jdbcType=NVARCHAR}
  </delete>
    <insert id="insert" parameterType="com.jb4dc.sso.dbentities.authority.AuthorityEntity">
    insert into TSSO_AUTHORITY (AUTH_ID, AUTH_OBJ_ID, AUTH_OBJ_TYPE,
      AUTH_OWNER_ID, AUTH_OWNER_TYPE, AUTH_CREATOR_ID,
      AUTH_CREATOR_ORGAN_ID, AUTH_ORGAN_ID, AUTH_DESC
      )
    values (#{authId,jdbcType=NVARCHAR}, #{authObjId,jdbcType=NVARCHAR}, #{authObjType,jdbcType=NVARCHAR},
      #{authOwnerId,jdbcType=NVARCHAR}, #{authOwnerType,jdbcType=NVARCHAR}, #{authCreatorId,jdbcType=NVARCHAR},
      #{authCreatorOrganId,jdbcType=NVARCHAR}, #{authOrganId,jdbcType=NVARCHAR}, #{authDesc,jdbcType=NVARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.jb4dc.sso.dbentities.authority.AuthorityEntity">
        insert into TSSO_AUTHORITY
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="authId != null">
                AUTH_ID,
            </if>
            <if test="authObjId != null">
                AUTH_OBJ_ID,
            </if>
            <if test="authObjType != null">
                AUTH_OBJ_TYPE,
            </if>
            <if test="authOwnerId != null">
                AUTH_OWNER_ID,
            </if>
            <if test="authOwnerType != null">
                AUTH_OWNER_TYPE,
            </if>
            <if test="authCreatorId != null">
                AUTH_CREATOR_ID,
            </if>
            <if test="authCreatorOrganId != null">
                AUTH_CREATOR_ORGAN_ID,
            </if>
            <if test="authOrganId != null">
                AUTH_ORGAN_ID,
            </if>
            <if test="authDesc != null">
                AUTH_DESC,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="authId != null">
                #{authId,jdbcType=NVARCHAR},
            </if>
            <if test="authObjId != null">
                #{authObjId,jdbcType=NVARCHAR},
            </if>
            <if test="authObjType != null">
                #{authObjType,jdbcType=NVARCHAR},
            </if>
            <if test="authOwnerId != null">
                #{authOwnerId,jdbcType=NVARCHAR},
            </if>
            <if test="authOwnerType != null">
                #{authOwnerType,jdbcType=NVARCHAR},
            </if>
            <if test="authCreatorId != null">
                #{authCreatorId,jdbcType=NVARCHAR},
            </if>
            <if test="authCreatorOrganId != null">
                #{authCreatorOrganId,jdbcType=NVARCHAR},
            </if>
            <if test="authOrganId != null">
                #{authOrganId,jdbcType=NVARCHAR},
            </if>
            <if test="authDesc != null">
                #{authDesc,jdbcType=NVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jb4dc.sso.dbentities.authority.AuthorityEntity">
        update TSSO_AUTHORITY
        <set>
            <if test="authObjId != null">
                AUTH_OBJ_ID = #{authObjId,jdbcType=NVARCHAR},
            </if>
            <if test="authObjType != null">
                AUTH_OBJ_TYPE = #{authObjType,jdbcType=NVARCHAR},
            </if>
            <if test="authOwnerId != null">
                AUTH_OWNER_ID = #{authOwnerId,jdbcType=NVARCHAR},
            </if>
            <if test="authOwnerType != null">
                AUTH_OWNER_TYPE = #{authOwnerType,jdbcType=NVARCHAR},
            </if>
            <if test="authCreatorId != null">
                AUTH_CREATOR_ID = #{authCreatorId,jdbcType=NVARCHAR},
            </if>
            <if test="authCreatorOrganId != null">
                AUTH_CREATOR_ORGAN_ID = #{authCreatorOrganId,jdbcType=NVARCHAR},
            </if>
            <if test="authOrganId != null">
                AUTH_ORGAN_ID = #{authOrganId,jdbcType=NVARCHAR},
            </if>
            <if test="authDesc != null">
                AUTH_DESC = #{authDesc,jdbcType=NVARCHAR},
            </if>
        </set>
        where AUTH_ID = #{authId,jdbcType=NVARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jb4dc.sso.dbentities.authority.AuthorityEntity">
    update TSSO_AUTHORITY
    set AUTH_OBJ_ID = #{authObjId,jdbcType=NVARCHAR},
      AUTH_OBJ_TYPE = #{authObjType,jdbcType=NVARCHAR},
      AUTH_OWNER_ID = #{authOwnerId,jdbcType=NVARCHAR},
      AUTH_OWNER_TYPE = #{authOwnerType,jdbcType=NVARCHAR},
      AUTH_CREATOR_ID = #{authCreatorId,jdbcType=NVARCHAR},
      AUTH_CREATOR_ORGAN_ID = #{authCreatorOrganId,jdbcType=NVARCHAR},
      AUTH_ORGAN_ID = #{authOrganId,jdbcType=NVARCHAR},
      AUTH_DESC = #{authDesc,jdbcType=NVARCHAR}
    where AUTH_ID = #{authId,jdbcType=NVARCHAR}
  </update>
</mapper>